﻿<div class="container body-container">

    <!-- progress bar -->
    <div class="row p-a-0 m-t-0">
        <div class="col-lg-8 offset-lg-2 p-a-0">
            <img class="center-block pull-md-left" [src]="getProgressImage()" style="width:360px" />
        </div>
    </div>

    <!-- /progress bar -->

    <div class="row p-x-1 m-t-1">
        <div class="col-lg-8 offset-lg-2">

            <div class="card">
                <div class="card-header question-header">
                    <p class="card-title m-b-0">{{txt.CASE_DETAIL_FORM_H[lang]}}</p>
                </div>
                <div class="card-block p-b-0">
                    <form #caseDetailForm="ngForm">
                        <fieldset class="form-group">
                            <label for="case-detail">{{txt.PLS_ADD_DETAIL[lang]}}</label>
                            <textarea name="CaseDetail" #caseDetailArea="ngModel" [(ngModel)]="caseDetail" class="form-control" id="case-detail" rows="10" placeholder="{{txt.DETAIL_HERE[lang]}}" required></textarea>
                            <button class="btn btn-info pull-right m-t-1" [disabled]="isLoading" (click)="draftCaseDetail()">{{txt.SAVE_DRAFT[lang]}}</button>
                            <small class="text-muted">{{txt.NO_CONTACT_PLS[lang]}}</small>
                            <div *ngIf="caseDetailArea.errors && (caseDetailArea.dirty || caseDetailArea.touched)">
                                <div [hidden]="!caseDetailArea.errors.required" class="err-msg">{{txt.ERR_DETAIL_REQ[lang]}}</div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <label for="case-province">{{txt.SELECT_PROVINCE[lang]}}</label>
                            <select id="case-province" class="form-control" name="Provinces" [(ngModel)]="selectedProvince">
                                <option *ngFor="let province of provinces" value="{{province.value}}">{{province.txt[lang]}}</option>

                            </select>
                            <small class="text-muted">{{txt.DESCRIBE_PROVINCE[lang]}}</small>
                        </fieldset>
                        <fieldset class="m-t-1">
                            <label for="case-lawyer-number">{{txt.SELECT_LAWYER_NUM[lang]}}</label>
                            <select class="form-control" name="LawyerNumber" [(ngModel)]="caseLawyerNumberString">
                                <option *ngFor="let number of numberRange" value={{number}}>{{number}}</option>
                            </select>
                            <small class="text-muted">{{txt.DESCRIBE_LAWYER_NUM[lang]}}</small>

                        </fieldset>
                        <div class="row m-y-1">
                            <div class="col-xs-4 col-md-3">
                                <button class="btn btn-primary btn-block" (click)="toHome()" [disabled]="isLoading">{{txt.BACK[lang]}}</button>

                            </div>
                            <div class="col-xs-8 col-md-9">
                                <button class="btn btn-warning btn-block" (click)="toQuestions()" [disabled]="isLoading || !caseDetailForm.form.valid">{{txt.PROCEED[lang]}}</button>

                            </div>
                        </div>

                    </form>

                </div>
            </div>

        </div>
    </div>

</div>
