<!-- Modal -->
<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                <h4 class="modal-title text-brand-color" id="myModalLabel">{{txt.REGISTER[lang]}}: {{txt.FOR_CLIENT[lang]}} </h4>
            </div>

            <form #clientSignupForm="ngForm">
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="" class="col-sm-3 form-control-label hidden-xs-down">{{txt.TITLE[lang]}}</label>
                        <div class="col-sm-9">
                            <select name="Title" class="form-control" [(ngModel)]="signUpTitle">
                                    <option value="MR">{{txt.MR[lang]}}</option>
                                    <option value="MRS">{{txt.MRS[lang]}}</option>
                                    <option value="MS">{{txt.MS[lang]}}</option>
                                </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Firstname" class="col-sm-3 form-control-label hidden-xs-down">{{txt.F_NAME[lang]}}</label>
                        <div class="col-sm-9">
                            <input name="Firstname" #firstname="ngModel" [(ngModel)]="signUpFirstName" type="text" class="form-control" id="firstName"
                                placeholder="{{txt.F_NAME[lang]}}" required minlength="2" maxlength="24">
                            <div *ngIf="firstname.errors && (firstname.dirty || firstname.touched)">
                                <div [hidden]="!firstname.errors.required" class="err-msg">Name is required</div>
                                <div [hidden]="!firstname.errors.minlength" class="err-msg">Name must be at least 2 characters long</div>
                                <div [hidden]="!firstname.errors.maxlength" class="err-msg">Name must not be longer than 24 characters</div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group row">
                        <label for="Lastname" class="col-sm-3 form-control-label hidden-xs-down">{{txt.L_NAME[lang]}}</label>
                        <div class="col-sm-9">
                            <input name="Lastname" #lastname="ngModel" [(ngModel)]="signUpLastName" type="text" class="form-control" id="" placeholder="{{txt.L_NAME[lang]}}"
                                required minlength="2">
                            <div *ngIf="lastname.errors && (lastname.dirty || lastname.touched)">
                                <div [hidden]="!lastname.errors.required" class="err-msg">Lastname is required</div>
                                <div [hidden]="!lastname.errors.minlength" class="err-msg">Lastname must be at least 2 characters long</div>
                            </div>
                        </div>

                    </div>
                    <!--
                        <div class="form-group row">
                            <label for="PersonalId" class="col-sm-3 form-control-label hidden-xs-down">{{txt.ID[lang]}}</label>
                            <div class="col-sm-9">
                                <input name="PersonalId" #personalId="ngModel" [(ngModel)]="signUpPersonalId" type="text" class="form-control" id="" placeholder="{{txt.ID[lang]}}"
                                       required maxlength="13" minlength="8">
                                <div *ngIf="personalId.errors && (personalId.dirty ||personalId.touched)">
                                    <div [hidden]="!personalId.errors.required" class="err-msg">Personal ID is required</div>
                                    <div [hidden]="!personalId.errors.minlength" class="err-msg">Personal ID must be at least 8 characters long</div>
                                </div>
                            </div>
                        </div>
                        -->
                    <div class="form-group row">
                        <label for="" class="col-sm-3 form-control-label hidden-xs-down">{{txt.EMAIL[lang]}}</label>
                        <div class="col-sm-9">
                            <input name="Email" #email="ngModel" [(ngModel)]="signUpEmail" type="email" class="form-control" id="" placeholder="{{txt.EMAIL[lang]}}"
                                required>
                            <div *ngIf="email.errors && (email.dirty ||email.touched)">
                                <div [hidden]="!email.errors.required" class="err-msg">Email is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-3 form-control-label hidden-xs-down">{{txt.MOBILE[lang]}}</label>
                        <div class="col-sm-9">
                            <input name="PhoneNumber" #phoneNumber="ngModel" [(ngModel)]="signUpPhoneNumber" type="tel" class="form-control" id="" placeholder="eg. 0891234567"
                                required minlength="10">
                            <div class="err-msg" *ngIf="phoneNumber.dirty ||phoneNumber.touched">{{txt.PHONE_REQ_EXP[lang]}}</div>
                            <div *ngIf="phoneNumber.errors && (phoneNumber.dirty ||phoneNumber.touched)">
                                <div [hidden]="!phoneNumber.errors.required" class="err-msg">Phone number is required</div>
                                <div [hidden]="!phoneNumber.errors.minlength" class="err-msg">Phone number must be at least 10 characters long</div>

                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label hidden-xs-down">{{txt.PW[lang]}}</label>
                        <div class="col-sm-9">
                            <input name="Password" #password="ngModel" [(ngModel)]="signUpPassword" type="password" class="form-control" id="" placeholder="{{txt.PW[lang]}}"
                                required minlength="8" maxlength="24">
                            <div *ngIf="password.errors && (password.dirty ||password.touched)">
                                <div [hidden]="!password.errors.required" class="err-msg">Password is required</div>
                                <div [hidden]="!password.errors.minlength" class="err-msg">Password must be longer than 8 characters</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label hidden-xs-down">{{txt.CONFIRM_PW[lang]}}</label>
                        <div class="col-sm-9">
                            <input name="ConfirmPassword" #confirmPassword="ngModel" [(ngModel)]="signUpConfirmPassword" type="password" class="form-control"
                                id="" placeholder="{{txt.CONFIRM_PW[lang]}}" required>
                            <div *ngIf="confirmPassword.dirty ||confirmPassword.touched">
                                <div [hidden]="(signUpPassword == signUpConfirmPassword)" class="err-msg">Password does not match</div>
                            </div>
                        </div>
                    </div>
                    <div class="checkbox">
                        <label>
                                <input name="AsCompnay" [(ngModel)]="asCompany" type="checkbox" value="false">
                                {{txt.APPLY_AS_COMP[lang]}}
                            </label>
                    </div>
                    <div class="form-group row" *ngIf="asCompany">
                        <label for="inputPassword3" class="col-sm-3 form-control-label hidden-xs-down">{{txt.COMP_NAME[lang]}}</label>
                        <div class="col-sm-9">
                            <input name="CompanyName" [(ngModel)]="signUpCompName" type="text" class="form-control" id="" placeholder="{{txt.COMP_NAME[lang]}}"
                                required>
                        </div>
                    </div>
                    <div class="form-group row" *ngIf="asCompany">
                        <label for="inputPassword3" class="col-sm-3 form-control-label hidden-xs-down">{{txt.COMP_ID[lang]}}</label>
                        <div class="col-sm-9">
                            <input name="CompanyId" [(ngModel)]="signUpCompId" type="text" class="form-control" id="" placeholder="{{txt.COMP_ID[lang]}}"
                                required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                    <div class="loader" *ngIf="isLoading"></div>
                    <button type="submit" class="btn btn-primary" (click)="signUp()" [disabled]="!clientSignupForm.form.valid || isLoading || !(signUpPassword == signUpConfirmPassword)">{{txt.REGISTER[lang]}}</button>
                    <div class="row" *ngIf="signUpErrorMsg">
                        <p class="err-msg pull-right">{{signUpErrorMsg}}</p>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /Modal -->