﻿<div class="row m-t-1">
    <div class="col-xs-12">
        <div class="card ctm-card">
            <div class="card-header">{{txt.CASE_ID[lang]}}: #{{clientCase.id}} <span class="pull-xs-right" [hidden]="hideStatus">{{txt.CASE_STATUS[lang]}}: {{caseAcceptedLawyers}}/{{casePreferredLawyers}}</span></div>
            <div class="card-block">
                <h5 class="card-text">{{txt.CASE_DETAIL[lang]}}:</h5>
                <p class="card-text" style="max-height:4.5rem;overflow-y:auto">
                    {{getCaseDetail(clientCase)}}
                </p>
                <p class="card-text"><strong>{{txt.CASE_PROVINCES[lang]}}: </strong>{{getCaseProvinces(clientCase)}}</p>
                <p class="card-text"><strong>{{txt.CASE_CREATED_AT[lang]}}: </strong>{{getCreatedAt(clientCase)}}</p>
            </div>
            <hr class="m-x-1 m-y-0" />
            <div class="card-block" *ngIf="isForClient">
                <h5>{{txt.PROCESS_INFO_H[lang]}}</h5>
                
                <p>{{txt.MIN_PROCESS_FEE[lang]}}: {{minFee}} {{txt.BAHT[lang]}}
                <br />{{txt.MIN_PROCESS_EXP_H[lang]}}: {{getMinFeeExp()}}
                <br /><small class="text-muted">*{{txt.FEE_REMARK[lang]}}</small>
                </p>
                

            </div>

            <div class="card-block" *ngIf="isForLawyer">
                <h5>{{txt.MORE_CASE_INFO[lang]}}</h5>
                <p>{{txt.CLIENT_PURPOSE[lang]}}: {{getPurpose()}}</p>
                <p>{{txt.CLIENT_PERSON[lang]}}: {{getPersonType()}}</p>
                <p>{{txt.CASE_TYPE[lang]}}: {{getCaseType()}}</p>
            </div>


        </div>

    </div>
</div>