﻿<div class="container body-container">

    <div class="row">
        <div class="col-lg-8 offset-lg-2"> 

            <h3 class="m-t-1">{{txt.CASE_RESPONSE[lang]}}</h3>

            <div class="row" *ngIf="isLoading">
                <div class="col-xs-1 offset-xs-5">
                    <div class="loader"></div>
                </div>
            </div>

            <div class="row m-t-1" *ngIf="isResponse && !isAccept">
                <div class="card">
                    <div class="card-block">
                        <h3 class="text-xs-center text-brand-color">{{txt.CASE_DECLINED_H[lang]}}</h3>
                        <p class="text-xs-center">{{txt.CASE_DECLINED_CNT[lang]}}</p>
                    </div>
                </div>
            </div>

            <user-contact *ngIf="client && isPaid" [user]="client" [lang]="lang"></user-contact>

            <client-profile *ngIf="client" [client]="client" [lang]="lang"></client-profile>

            <full-case-detail *ngIf="case" [clientCase]="case" [lang]="lang" [isForLawyer]="true"> </full-case-detail>
        
            <contact-fee *ngIf="lawyerResponse" [hidden]="isResponse && ( isAccept == isPaid)" [lawyerResponse]="lawyerResponse" [lang]="lang"></contact-fee>

            <div class="row" *ngIf="!isLoading" [hidden]="(isResponse && !isAccept) || isPaid || isTooLate" >
                <div class="col-sm-4 col-xs-2">
                    <button class="btn btn-primary btn-block hidden-xs-down m-b-1" (click)="declineCase()" [disabled]="isLoading">{{txt.DECLINE_CASE[lang]}}</button>
                </div>
                <div class="text-xs-center text-muted col-xs-8 col-sm-4">

                </div>
                <div class="col-sm-4 col-xs-2">
                    <button class="btn btn-warning btn-block hidden-xs-down m-b-1" (click)="acceptCase()" [disabled]="isLoading">{{txt.ACCEPT_CASE[lang]}}</button>
                </div>
            </div>        
        
        
        
        </div>
    </div>

    <nav class="navbar navbar-fixed-bottom navbar-dark bg-inverse row hidden-sm-up" [hidden]="(isResponse && !isAccept) || isPaid || isTooLate">
        <div class="col-xs-12" role="group" aria-label="Basic example">
            <button class="btn btn-primary col-xs-3" (click)="declineCase()" [disabled]="isLoading">{{txt.DECLINE_CASE[lang]}}</button>
            <button class="btn btn-warning col-xs-8 offset-xs-1" (click)="acceptCase()" [disabled]="isLoading">{{txt.ACCEPT_CASE[lang]}}</button>
        </div>

    </nav>
    <nav class="navbar navbar-fixed-bottom navbar-dark bg-inverse row hidden-sm-up" *ngIf="isPaid && client">
        <div class="col-xs-12" role="group" aria-label="Basic example">
            <a class="btn btn-success col-xs-12" href="tel:{{getTel(client)}}">{{txt.CALL_NOW[lang]}}</a>
        </div>

    </nav>

</div>
