﻿<div class="container body-container">

    <!-- section header -->
    <div class="row m-t-1">
        <div class="col-lg-8 offset-lg-2">
            <h3>{{txt.PROFILE[lang]}}</h3>
        </div>
    </div>
    <!-- /section header -->
    <!-- Profile -->
    <div class="row p-x-1 m-t-1">
        <div class="card col-lg-8 offset-lg-2 ">
            <div class="card-block row p-t-1">
                <img (click)="changeProfilePicture()" class="img-circle img-fluid col-xs-8 offset-xs-2 col-sm-4 offset-sm-4" [src]="profileImageURL"
                />

            </div>
                        <div class="row text-xs-center"><small class="text-muted">{{txt.CHANGE_PROFILE_PIC[lang]}}<br>*{{txt.CENTER_PROFILE_PIC[lang]}}</small></div>


            <div class="card-block row">
                <form>
                    <div class="form-group row">
                        <label for="" class="col-sm-3 form-control-label hidden-xs-down">{{txt.TITLE[lang]}}</label>
                        <div class="col-sm-9">
                            <select class="form-control" [(ngModel)]="title" name="title">
                                <option value="MR">{{txt.MR[lang]}}</option>
                                <option value="MRS">{{txt.MRS[lang]}}</option>
                                <option value="MS">{{txt.MS[lang]}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-3 form-control-label hidden-xs-down">{{txt.F_NAME['th']}}</label>
                        <p class="hidden-sm-up col-xs-12 text-muted">ชื่อ-นามสกุล ภาษาไทย</p>

                        <div class="col-sm-9">
                            <input name="FirstnameTH" [(ngModel)]="firstnameTH" type="text" class="form-control" id="" placeholder="{{txt.F_NAME['th']}}">

                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-3 form-control-label hidden-xs-down">{{txt.L_NAME['th']}}</label>
                        <div class="col-sm-9">
                            <input name="LastnameTH" [(ngModel)]="lastnameTH" type="text" class="form-control" id="" placeholder="{{txt.L_NAME['th']}}">

                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-3 form-control-label hidden-xs-down">{{txt.F_NAME['en']}}</label>
                        <p class="hidden-sm-up col-xs-12 text-muted">First-Last name in English</p>

                        <div class="col-sm-9">
                            <input name="FirstnameEN" [(ngModel)]="firstnameEN" type="text" class="form-control" id="" placeholder="{{txt.F_NAME['en']}}">

                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-3 form-control-label hidden-xs-down">{{txt.L_NAME['en']}}</label>
                        <div class="col-sm-9">
                            <input name="LastnameEN" [(ngModel)]="lastnameEN" type="text" class="form-control" id="" placeholder="{{txt.L_NAME['en']}}">

                        </div>
                    </div>
                    <h5 class="card-title">{{txt.CONTACT_INFO[lang]}}</h5>
                    <div class="form-group row">
                        <label for="contactEmail" class="col-sm-3 form-control-label hidden-xs-down">{{txt.EMAIL[lang]}}</label>
                        <div class="col-sm-9">
                            <input name="Email" [(ngModel)]="email" type="text" class="form-control" id="contactEmail" placeholder="{{txt.EMAIL[lang]}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="contactPhone" class="col-sm-3 form-control-label hidden-xs-down">{{txt.MOBILE[lang]}}</label>
                        <div class="col-sm-9">
                            <input name="PhoneNumber" [(ngModel)]="phoneNumber" type="text" class="form-control" id="contactPhone" placeholder="eg.0891234567">
                        </div>
                    </div>

                </form>

                <!--<a class="btn btn-outline-warning btn-block" (click)="updatePersonalInfo()">{{txt.SAVE[lang]}}</a>-->

            </div>

            <button class="btn btn-outline-info btn-block m-b-1" (click)="resetUserPassword()" [disabled]="isLoading">{{txt.FORGOT_PW_SUBMIT[lang]}}</button>


        </div>

    </div>


    <img src="../../../img/save-button.svg" class="pos-f-t" style="top:unset;left:unset;bottom:10px;right:10px; width:60px; height:60px; cursor:pointer"
        *ngIf="isProfileChange() && !isLoading" (click)="saveProfile()" />
    <div class="pos-f-t" style="top:unset;left:unset;bottom:10px;right:10px" *ngIf="isLoading">
        <div class="loader">
        </div>
    </div>
</div>