﻿<div class="container body-container">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="m-t-1">{{txt.FORGOT_PW[lang]}}</h3>

            <form #resetPasswordForm ="ngForm">
                <p>{{txt.FORGOT_PW_CONTENT[lang]}}</p>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <input class="form-control" type="email" name="UserEmail" [(ngModel)]="userEmail" placeholder="{{txt.EMAIL[lang]}}" required/>

                    </div>
                </div>
                <button class="btn m-t-1" type="submit" [disabled]="!resetPasswordForm.form.valid || isLoading" (click)="sendResetEmail()">{{txt.FORGOT_PW_SUBMIT[lang]}}</button>
            </form>
            <p class="err-msg" *ngIf="error">{{error.message}}</p>
        </div>

    </div>

</div>