﻿<div class="container body-container">

    <div class="row p-x-1 m-t-1">
        <div class="col-lg-8 offset-lg-2">

            <div class="card">
                <div class="card-header">
                    <p class="card-title">{{txt.CLI_INQ_H[lang]}}</p>
                </div>
                <div class="card-block">
                    <!--<form class="form-inline">
                        <div class="form-group ">
                            <select class="form-control" [(ngModel)]="signUpTitle">
                                <option value="MR">{{txt.MR[lang]}}</option>
                                <option value="MRS">{{txt.MRS[lang]}}</option>
                                <option value="MS">{{txt.MS[lang]}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="" class="hidden-xs-down">{{txt.F_NAME[lang]}}</label>
                            <input [(ngModel)]="signUpFirstName" type="text" class="form-control" id="" placeholder="{{txt.F_NAME[lang]}}">
                        </div>
                        <div class="form-group">
                            <label for="" class="hidden-xs-down">{{txt.L_NAME[lang]}}</label>
                            <input [(ngModel)]="signUpLastName" type="text" class="form-control" id="" placeholder="{{txt.L_NAME[lang]}}">
                        </div>
                    </form>
                    <div class="form-group row">
                        <label for="" class="col-sm-3 form-control-label hidden-xs-down">{{txt.EMAIL[lang]}}</label>
                        <div class="col-sm-9">
                            <input [(ngModel)]="signUpEmail" type="email" class="form-control" id="" placeholder="{{txt.EMAIL[lang]}}">
                        </div>
                    </div>-->
                    <div class="form-group row">
                        <label for="" class="col-sm-3 form-control-label hidden-xs-down">{{txt.TITLE[lang]}}</label>
                        <div class="col-sm-9">
                            <select class="form-control" [(ngModel)]="signUpTitle">
                                <option value="MR">{{txt.MR[lang]}}</option>
                                <option value="MRS">{{txt.MRS[lang]}}</option>
                                <option value="MS">{{txt.MS[lang]}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-3 form-control-label hidden-xs-down">{{txt.F_NAME[lang]}}</label>
                        <div class="col-sm-9">
                            <input [(ngModel)]="signUpFirstName" type="email" class="form-control" id="" placeholder="{{txt.F_NAME[lang]}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-3 form-control-label hidden-xs-down">{{txt.L_NAME[lang]}}</label>
                        <div class="col-sm-9">
                            <input [(ngModel)]="signUpLastName" type="text" class="form-control" id="" placeholder="{{txt.L_NAME[lang]}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-3 form-control-label hidden-xs-down">{{txt.EMAIL[lang]}}</label>
                        <div class="col-sm-9">
                            <input [(ngModel)]="signUpEmail" type="text" class="form-control" id="" placeholder="{{txt.EMAIL[lang]}}">
                        </div>
                    </div>
                    <hr />
                    <fieldset class="form-group">
                        <label for="case-detail">{{txt.Q_CASE[lang]}}</label>
                        <textarea [(ngModel)]="caseDetail" class="form-control" id="case-detail" rows="10" placeholder="{{txt.Q_CASE_PLH[lang]}}"></textarea>
                        <!--<small class="text-muted">กรุณาอย่าใส่อีเมล์หรือเบอร์โทรศัพท์โดยตรงที่ใช้ในการติดต่อ </small>-->
                    </fieldset>
                    <fieldset>
                        <label for="case-province">{{txt.Q_PROV[lang]}}</label>
                        <!--<select id="case-province" class="form-control" [(ngModel)]="selectedProvince">
                            <option *ngFor="let province of provinces" value="{{province}}">{{province}}</option>
                        </select>-->
                        <input type="text" [(ngModel)]="provinces" class="form-control">
                        <!--<small class="text-muted">จังหวัดที่ท่านเลือกคือขอบเขตที่ท่านต้องการให้ทนายดำเนินการหรือปรึกษาติดต่อตลอดการทำงาน</small>-->
                    </fieldset>
                    <!--<fieldset class="m-t-1">
                        <label for="case-lawyer-number">กรุณาเลือกจำนวนทนายที่ท่านต้องการปรึกษาเบื้องต้นก่อนตัดสินใจเลือกทนายในการดำเนินการ</label>
                        <select class="form-control" [(ngModel)]="caseLawyerNumberString">
                            <option *ngFor="let number of numberRange" value={{number}}>{{number}}</option>
                        </select>
                        <small class="text-muted">จำนวนที่ท่านกำหนดคือจำนวนทนายที่จะมีการติดต่อพูดคุยให้คำปรึกษากับท่าน เพื่อให้ท่านมีตัวเลือกในการตัดสินใจว่าทนายท่านใดจะเหมาะสมในการทำคดีกับท่าน</small>
                    </fieldset>-->
                </div>
            </div>
            <div class="row">

                <div class="col-xs-12 m-b-1">
                    <button class="btn btn-primary btn-block" (click)="submit()" [disabled]="isLoading">{{txt.CLI_INQ_ACTION[lang]}}</button>
                </div>
            </div>
        </div>
    </div>
</div>