﻿<div class="container body-container">
    <h3 class="m-t-1">{{txt.HELP_SUPPORT[lang]}}</h3>
    <div class="row hidden-md-up">
        <div class="col-xs-12">
            <select class="form-control" [(ngModel)]="active" (ngModelChange)="scrollToTop()">
                <option value="PRIVACY_POLICY">{{txt.PRIVACY_POLICY[lang]}}</option>
                <option value="TERM_OF_USE">{{txt.TERM_OF_USE[lang]}}</option>
                <option value="PURCHASE_OF_ORDER">{{txt.PURCHASE_OF_ORDER[lang]}}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 hidden-sm-down">
            <div class="card m-t-1">
                <div class="card-block">
                    <ul>
                        <li [class.active]="isActive('PRIVACY_POLICY')" style="cursor:pointer" [routerLink]="['/',lang,'help-and-support','PRIVACY_POLICY']">{{txt.PRIVACY_POLICY[lang]}}</li>
                        <li [class.active]="isActive('TERM_OF_USE')" style="cursor:pointer" [routerLink]="['/',lang,'help-and-support','TERM_OF_USE']">{{txt.TERM_OF_USE[lang]}}</li>
                        <li [class.active]="isActive('PURCHASE_OF_ORDER')" style="cursor:pointer" [routerLink]="['/',lang,'help-and-support','PURCHASE_OF_ORDER']">{{txt.PURCHASE_OF_ORDER[lang]}}</li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-xs-12 col-md-9">

            <div *ngIf="active == 'PRIVACY_POLICY'" class="text-justify">
                <h5 class="text-xs-center text-md-left text-brand-color m-t-1">PRIVACY POLICY</h5>
                <p>At Dfastlegal, (collectively with its subsidiaries and affiliates, “Dfastlegal”, “we”, “our” or “us”), we care about your privacy and want you to understand how we collect, use and disclose your private information. Dfastlegal operates the website located at www.Dfastlegal.com and the Dfastlegal mobile application (collectively, the “Site”). This privacy policy (“Privacy Policy”) explains the ways in which your information is collected and used on the Site and any other online and/or mobile or telephone services which are owned or operated by Dfastlegal, including all features, content, products and services which may be offered from time to time by any or all of the foregoing. The services, features, content, or applications that may be offered from time to time by Dfastlegal in connection with the Site and/or Dfastlegal’s business are collectively referred to as the “Services”. </p>
                <p>By accessing or signing up for a user account on the Site, or by instructing a Dfastlegal representative to create such an account on your behalf, you are accepting the terms and conditions of this Privacy Policy and agreeing that Dfastlegal will have the right to use your personal and other information as described in this Privacy Policy. If you do not agree to the terms and conditions of this Privacy Policy, you must immediately discontinue your access to and use of the Site and Services. </p>
                <p>As used in this Privacy Policy, the terms “you” and “your” mean each individual or entity that accesses, browses or uses the Site and/or Services in any manner. If you are accessing the Site and/or using the Services on behalf of an entity, you represent and warrant to Dfastlegal that you personally satisfy the eligibility criteria in Paragraph 3 below and you have the authority to bind the business to the Privacy Policy. Your agreement to these terms will be treated as the agreement of the entity you represent. </p>
                <h5>1. Scope of this Privacy Policy</h5>
                <p>This Privacy Policy covers personally identifiable and non-personally identifiable information collected by Dfastlegal when you visit or use the Site or use the Services. Please note that this Privacy Policy does not apply to third parties, including, without limitation, entities that Dfastlegal does not own or control, such as third party sites that may have a link to or from the Site. </p>
                <h5>2. Information is Not Subject to Attorney-Client Privilege </h5>
                <p>By using the Site and/or Services, no attorney-client relationship will be created with Dfastlegal. Accordingly, while communications between you and Dfastlegal are protected by this Privacy Policy, they are not protected by attorney-client privilege, an attorney’s duty of confidentiality, or the work product doctrine. </p>
                <h5>3. Minor under 20 Years of Age</h5>
                <p>The Site and Services are general audience services, and are not directed to individuals under 20 years of age. Dfastlegal does not knowingly collect personal information from individuals under 20 years of age. If you are under 20 years of age, you may not use the Site or Services. </p>
                <h5>4. Personal Information</h5>
                <p>Dfastlegal may collect both personally identifiable information (“PII”) as well as non-personally identifiable information (“Non-PII”) when you visit or use the Site. </p>
                <h5>4.1 Personally Identifiable Information </h5>
                <p>PII means information that would allow a third party to identify or locate a particular person. PII includes, without limitation, your full name, email address, zip code, telephone number, birth date, and credit card number. Dfastlegal only collects PII if that information is voluntarily provided by you. This may happen in several ways: </p>
                <h5>4.1.1. User Accounts</h5>
                <p>In order to access and utilize certain products or services provided by Dfastlegal, you may be required to create a user account or to have our customer service personnel create one on your behalf and to provide certain PII, such as your full name, an email address, telephone number, a user name and/or a password, etc. You are under no obligation to provide this information to Dfastlegal. However, if you decide not to share this information, you may be unable to create an account on the Site and/or you may be unable to fully utilize all or some of the Services.</p>
                <h5>4.1.2. Financial Transactions </h5>
                <p>Dfastlegal uses third parties to provide credit card and other payment processing services, such as billing services for lawyers, for the Site and/or Services. When you make or receive any payment on or through the Site, you will be required to provide Dfastlegal and/or its authorized third party agents with financial information and related payment information. Dfastlegal and its third party agents may retain the details of financial transactions or payments you make on or through the Site. </p>
                <h5>4.1.3. Public Forums </h5>
                <p>Dfastlegal may provide areas on the Site where you can post information about yourself and others, such as the function of the site that allows users to review lawyers or that allows lawyers to create a public profile on the Site. Whenever you disclose personal information on publicly-viewable web pages, that information will be publicly available and may also appear on other websites and in publicly available search results. If you post your personal contact information, you may receive unsolicited messages. Dfastlegal encourages you to exercise discretion and caution with respect to the public posting of your personal information. </p>
                <h5>4.2 Non-Personally Identifiable Information </h5>
                <p>Non-PII means information that does not allow a third party to identify or locate a particular person. You can visit the Site to read information about the Site and the products and services offered without revealing any PII. However, during your visit to the Site, Dfastlegal may collect anonymous Non-PII such as the activity of your browser when you are viewing the Site; your site path during your visit to the Site; demographic data; the amount of time you spend on the Site and general information regarding your Internet service provider and host. The Non-PII may be collected by Dfastlegal in several ways: </p>
                <h5>4.2.1. Logging of Your Activities on the Site </h5>
                <p>When you access the Site or Services from a computer, mobile phone or other device, Dfastlegal may collect and log information from that device about your browser type, location, and IP address (the number assigned to computers on the Internet), a telephone number from which you contacted Dfastlegal, etc. Dfastlegal may also collect and log anonymous “traffic data” information that does not personally identify you, but that may be helpful to Dfastlegal for marketing purposes or for improving the services that Dfastlegal offers to its users, such as, without limitation, the pages you visit, the length of your visit, your referring/exit pages, the timing and duration of calls made through the Site and Services, and your clickstream activity and the actions you take while using or visiting the Site. </p>
                <h5>4.2.2. Cookies </h5>
                <p>Dfastlegal may use “cookies” to enhance your use of the Site and the Services and to monitor your activity during your visit(s) to the Site. Cookies are text files placed in your computer’s browser to identify your Internet browser and to store your preferences. You can remove or block cookies by programming your Internet browser, but in some cases that may impact your ability to access certain portions of the Site and certain Services. </p>
                <h5>4.2.3. Beacons </h5>
                <p>Dfastlegal may also use “web beacons”, clear.gifs, or similar technologies, to track the activity and flow of your visit(s) to the Site. “Web beacons” and clear.gifs are small pieces of code placed on a web page to monitor the behavior of and to collect data about the visitors to that page. </p>
                <h5>5. Information Collected by Third Parties </h5>
                <p>Dfastlegal may use the services of third parties for various purposes, including, without limitation, to provide Dfastlegal with data collection (such as impressions, clicks, date and time of impressions and clicks, pages viewed, amount of time spent on certain pages or engaged in certain activities, browser type and operating system, and other general click stream information), user traffic activity, reporting and ad response measurement, and to deliver advertisements and marketing messages. These third parties, or Dfastlegal on their behalf, may use their own cookies to monitor your activity during your visit to the Site and/or use of the Site and the Services. Additionally, these third parties, or Dfastlegal on their behalf, may place web beacons, clear.gifs or similar technologies on the Site, including, without limitation, on any and all (i) webpages and (ii) email or other electronic communications generated as part of the Site or the Services which are sent to you, as well as your replies thereto, and your actions in connection therewith, such as whether or not an email has been opened, a link has been clicked, or a page has been visited. Dfastlegal does not control the foregoing third party monitoring technologies or the information which they may collect and Dfastlegal has no responsibility or liability in connection with the foregoing. A third party’s use of the foregoing monitoring technologies and the information collected is subject to the third party’s own privacy policies and is not covered by this Privacy Policy. You can remove or block third party cookies and similar technologies by programming your Internet browser, but in some cases that may impact your ability to access certain portions of the Site and certain Services. </p>
                <h5>6. Dfastlegal’s Use of PII and Non-PII</h5>
                <p>Dfastlegal may use the PII and Non-PII it collects under this Privacy Policy as follows: </p>
                <h5>6.1 Use of PII </h5>
                <h5>6.1.1. </h5>
                <p>Dfastlegal may use the PII you share with Dfastlegal to manage your account, to fulfill your requests for products, programs and services, to respond to your inquiries about Dfastlegal’s offerings, to offer you other Dfastlegal products, programs or services that Dfastlegal believes may be of interest to you, to enforce the legal terms that govern your use of the Site and the Services, and for the purposes for which you provided the information. Dfastlegal may share your PII with attorneys and law firms registered with Dfastlegal, and may share the PII of attorneys registered on Dfastlegal with potential clients. </p>
                <h5>6.1.2. </h5>
                <p>Dfastlegal may use the PII you share with Dfastlegal to communicate with you, to contact you about your account, to respond to your comments or requests for information, etc. If a comment or request is made by email or direct message, Dfastlegal may respond by sending an email or direct message response back to the sender. Dfastlegal may store the emails or direct message conversations received by Dfastlegal for archival purposes and also for marketing purposes. </p>
                <h5>6.1.3. </h5>
                <p>Dfastlegal may share your PII with Dfastlegal’s affiliated entities if Dfastlegal has a business reason to do so. </p>
                <h5>6.1.4. </h5>
                <p>Dfastlegal may share your PII with third parties that assist Dfastlegal with the management, operation or administration of the Site; the analysis of the performance of the Site; and the provision of Dfastlegal products and services (including, without limitation, the processing and serving of email and other electronic communications). Dfastlegal will not rent, share, or sell the PII you share with us to third parties for marketing purposes. </p>
                <h5>6.1.5. </h5>
                <p>Dfastlegal may also provide your PII to a third party in those instances where you have been notified that the fulfillment of your request for information, services or products will require Dfastlegal to share your PII with a third party and you have agreed that Dfastlegal may provide your PII or access thereto to the third party. For example, you may choose to authorize us to share your PII with selected legal services providers. Dfastlegal has no control over the use of your PII by any of these third parties. </p>
                <h5>6.1.6. </h5>
                <p>Dfastlegal may use your email address, phone number, mailing address, or other contact information to send you communications, such as notifications, information about new services offered by Dfastlegal, special offers, promotions, the Dfastlegal newsletter, etc. If you do not wish to receive communications, you may be able to unsubscribe from certain communications by going to your account page. </p>
                <h5>6.1.7. </h5>
                <p>If you choose to submit content for publication on or through the Site, such as a posting an article, Dfastlegal may post/publish your name and other PII which you have provided to Dfastlegal; however, if you post a lawyer review on the Site, Dfastlegal does not post/publish your name or PII in connection with the review unless you include such information in the content of the review itself. </p>
                <h5>6.2 Use of My Non-PII </h5>
                <h5>6.2.1. </h5>
                <p>Dfastlegal may measure and analyze anonymous statistical Non-PII collected on an aggregated and/or un–aggregated basis in connection with your visit(s) to the Site in order to administer the Site and the Services; improve the quality of the Services; improve the design, performance and content of the Site and the Services; and improve your experience on the Site, such as by providing more relevant content to you during your visits. </p>
                <h5>6.2.2. </h5>
                <p>Dfastlegal may use and/or share anonymous, aggregated and/or un-aggregated Non-PII with third parties for any and all reasonable business purposes as Dfastlegal determines in its sole discretion, including, without limitation, advertising, promotion, business opportunities, etc. Dfastlegal may combine (a) your Non-PII with the Non-PII of other users of the Site and (b) Non-PII Dfastlegal collects through the Site with Non-PII Dfastlegal may collect from other sources. </p>
                <h5>6.2.3. </h5>
                <p>Dfastlegal, Dfastlegal’s licensors, third party service providers and advertisers may use Non-PII to customize content, services, promotions, advertising, etc.; to offer you services, products, etc.; to manage and measure the performance of advertisements displayed on or delivered by or through the Site; to manage your account and preferences; to compile aggregate data about traffic and interaction on or through the Site so that Dfastlegal can improve your user experience; to protect against misuse of the Site and the Services; to enforce the Dfastlegal Terms of Service [hyperlink] and all other legal terms that govern your use of the Site and the Services and/or for the purposes for which you provided the information. </p>
                <h5>6.3 Additional Circumstances In Which Dfastlegal May Use and Disclose PII and Non-PII </h5>
                <p>Additionally, Dfastlegal may disclose the information it collects on the Site, both PII and Non-PII (collectively “User Information”), under the following circumstances: </p>
                <h5>6.3.1. </h5>
                <p>Dfastlegal reserves the right to access, read, preserve, and disclose any or all User Information as we reasonably believe is necessary to: satisfy any applicable law, regulation, legal process or governmental request; enforce our Terms of Service [hyperlink], including investigation of potential violations hereof; detect, prevent, or otherwise address fraud, security or technical issues; respond to user support requests; protect our rights, property or safety, our users and the public. This includes exchanging information with other companies and organizations for fraud protection and spam/malware prevention. </p>
                <h5>6.3.2. </h5>
                <p>If Dfastlegal sells all or a part of its business or makes a sale of all or a material part of its assets or is otherwise involved in a merger or transfer of all or a material part of its business, then as part of the applicable transaction, Dfastlegal may transfer your User Information to the party or parties involved in the transaction. Dfastlegal may also share and/or transfer your User Information to any or all of its affiliated entities (such as any subsidiary or parent). </p>
                <h5>6.3.3. </h5>
                <p>Dfastlegal may disclose any or all User Information to protect or defend the legal rights or property of Dfastlegal or its employees, agents and contractors; to protect the safety of the general public, the users of the Site and the Services and/or the Dfastlegal employees, agents and contractors; and to investigate, prevent or take action regarding suspected or actual illegal activities or fraud. </p>
                <h5>7. Content Posted to Public Areas of the Site </h5>
                <p>If you post or provide any information in any public area on the Site (such as user reviews or in an attorney profile) or if you otherwise make any information about yourself publicly available on the Site, you should be aware that any publicly disclosed PII can be read, collected, or used by other users of the Site, and could be used to send you unsolicited messages or otherwise. Dfastlegal is not in any way responsible for the non-disclosure or protection of any PII or other information you choose to publicly disclose on or through the Site. You are solely responsible for all of the consequences resulting from any such public disclosure. </p>
                <h5>8. Third Party Websites </h5>
                <p>The Site may contain links to third party websites. By accessing and/or using a linked third party website, you may be disclosing your personal information to such linked website. Therefore, you should carefully review the privacy policies of these other websites. If you are not comfortable with the policies of a linked website, you should not access and/or use that website. Dfastlegal is not responsible for the policies (privacy or otherwise) or the content, services or products offered by or through any third party website. It is solely your responsibility to review the privacy policy and other policies of third party websites to confirm that you understand and agree with their policies. </p>
                <h5>9. Data Security </h5>
                <p>The User Information we collect is stored on a secure, password-protected server and only authorized personnel have access to your information. We use commercially reasonable encryption technologies with respect to the receipt and transfer of User Information you submit to us via the Site and Services, including using SSL technology for certain sensitive information. Nevertheless, despite our best efforts, no transmission over the Internet and no data storage method can be guaranteed to be safe 100% of the time. Dfastlegal does not guarantee that its security measures will not be circumvented or breached or that your User Information will not be accessed by, used by, modified by or disclosed to a third party. Dfastlegal is not responsible for any such circumvention or breach by any third party. Additionally, it is solely your responsibility, and not the responsibility of Dfastlegal, to protect the confidentiality of your password and login credentials.</p>
                <h5>10. Updating Your Information and Deleting Your Account </h5>
                <p>Once you have set up your account or a Dfastlegal customer service representative has set up an account for you at your request, you can at any time access your account to add, delete or modify any information which you have provided. Should you ever decide to delete your account, you may do so by emailing us at info@Dfastlegal.com. Please note that even after you terminate your account or delete or modify information from your profile, copies of the original information may remain viewable on the Site and/or elsewhere to the extent that your information was publicly posted by you or with your authorization, previously shared with others, or otherwise distributed pursuant to your privacy settings. Additionally, even if you have requested that your User Information be deleted, Dfastlegal may retain a record of certain (including PII). </p>
                <h5>11. Changes to this Privacy Policy </h5>
                <p>Dfastlegal may from time to time amend this Privacy Policy to reflect changes in Dfastlegal’s practices and services. If Dfastlegal makes any material changes to the way Dfastlegal collects, uses, or shares your User Information, Dfastlegal will notify you of those changes via a posting on the Site or an electronic communication to you which notice will also indicate the effective date of the posted changes. Your continued use of the Site and the Services following the effective date of a change to this Privacy Policy signifies your acceptance of and agreement to the terms of the revised Privacy Policy. Dfastlegal encourages you to regularly review this Privacy Policy so that you remain updated as to any changes. Dfastlegal will indicate that changes have been made hereto by providing a “Last Updated” date at the top of this Privacy Policy following the effective date.</p>
                <h5>12. Contact Us </h5>
                <p>If you have any questions about this Privacy Policy or to report any privacy concerns, please email us at support@Dfastlegal.com or call us at 081 735 7774.</p>
            </div>
            <div *ngIf="active == 'TERM_OF_USE'" class="text-justify">
                <h5 class="text-xs-center text-md-left text-brand-color m-t-1">TERM OF USE</h5>
                <p>Welcome to Dfastlegal.com, the most effective way for attorneys and clients to connect. The following is our Terms of Service, which outlines the rules that govern your use of Dfastlegal. </p>
                <h5>1. Overview</h5>
                <p>These Terms of Service (this “Agreement”) constitute a binding agreement between Dfastlegal and you with respect to all information, data, graphics, content, software applications, and other Dfastlegal products and services provided, facilitated or otherwise made accessible on the website located at www.dfastlegal.com, via our telephone service, chat service, or mobile application (collectively referred as the “Services”, and such website referred to as the “Site”), and your use of and access to the Site and Services. In this Agreement, “we”, “us”, “our” and other similar references mean Dfastlegal and “you”, “your”, “user” and other similar references mean you, as a specific user of the Site and/or Services.</p>
                <p>IF YOU DO NOT AGREE TO THESE TERMS THEN YOU MAY NOT ACCESS OR USE THE SITE AND/OR SERVICES. BY USING AND ACCESSING THE SITE (OTHER THAN TO REVIEW THE TERMS AND CONDITIONS OF THIS AGREEMENT), YOU AGREE TO BE BOUND BY THIS AGREEMENT, AS IT MAY BE AMENDED FROM TIME TO TIME IN ACCORDANCE WITH THE TERMS BELOW. YOU SHOULD READ THIS AGREEMENT CAREFULLY BEFORE USING OR ACCESSING THE SITE AND/OR THE SERVICES, BECAUSE THIS AGREEMENT AFFECTS YOUR LEGAL RIGHTS AND OBLIGATIONS. YOU SHOULD ALSO RETAIN A COPY OF THIS AGREEMENT FOR YOUR RECORDS. ALL CAPITALIZED TERMS (SUCH AS ‘SERVICES’, ‘AGREEMENT’, ETC.) SHALL HAVE THE MEANING SET FORTH IN THIS AGREEMENT.</p>
                <h5>2. Eligibility to Use the Site and Services</h5>
                <p>You must be 20 years of age or over, or the legal age to form a binding contract in your jurisdiction if that age is greater than 20 years of age, to register with us or use the Site or the Services. If you are under 20 or the applicable legal age of majority in your jurisdiction, you can use the Site or Services only in conjunction with, and under the supervision of, your parent or guardian who has agreed to this Agreement. </p>
                <h5>3. Use of the Site and Services</h5>
                <h5>3.1 Only a Forum</h5>
                <p>Dfastlegal is an Internet forum that facilitates communication between legal professionals and potential users of legal services. Dfastlegal acts as a venue for providers and purchasers of legal services to communicate and exchange information. Attorneys may create an attorney account (hereinafter referred to as the “Attorney Account”) and become a member attorney (hereinafter referred to as the “Member Attorney”). Potential users of legal services can create an account by providing Dfastlegal with basic registration information via the Site or Services (hereinafter referred to as the “Client Account” and collectively with Attorney Accounts referred to as the “Accounts”). It is free for potential users of legal services to create a Client Account.</p>
                <p>f you choose to register and create an Account, you agree to provide us with accurate, complete registration information. It is your responsibility to inform us of any changes to that information by updating your registration information in your Account.</p>
                <p>In order to provide an optimal forum for potential users of legal services and legal professionals, Dfastlegal provides software to facilitate the exchange and signature of documents and the exchange of payments, but Dfastlegal does not involve itself in the actual preparation or signature of agreements between attorneys and clients or the actual representation of clients, nor do we enforce any agreements facilitated through our platform. Therefore, we cannot ensure the completion of such an agreement or the integrity of either party. You, and not Dfastlegal, are solely responsible for assessing the integrity, honesty, and trustworthiness of all persons with whom you communicate via the Site and/or the Services.</p>
                <p>Dfastlegal does not guarantee that you will successfully find legal representation through Dfastlegal. Dfastlegal takes no position and offers no opinion on when or if an attorney-client relationship has been formed between an attorney and a user of the Site or Services.</p>
                <h5>3.2 Dfastlegal Does Not Screen or Certify for Any of Its Users</h5>
                <p>Providing a service where potential clients and legal professionals can meet does not imply an endorsement of any Member Attorney, service provider or user of our Site or Services. Dfastlegal makes no representation concerning any Member Attorney’s qualifications, nor does it sanction statements any Member Attorney may post or state via the Site or Services. Dfastlegal does not verify the identity of its users or its Member Attorneys, nor does it certify for the accuracy of any user’s statements.</p>
                <h5>3.3 Dfastlegal Does Not Provide Legal Advice</h5>
            <p>Dfastlegal is not a law firm. Dfastlegal offers no legal advice, recommendations, mediation, or counseling under any circumstance. Dfastlegal encourages you not to accept as advice any information received from any source found on this service, unless it is from an attorney you have retained. The hiring of an attorney is a critical decision and should not be predicated solely on comments, recommendations, advertisements, or other content provided via the Site or the Services. You acknowledge that under no circumstances is, Dfastlegal providing legal advice or representation.</p>
                <h5>3.4 Disclaimer of Representations</h5>
                <p>Dfastlegal makes no representation, guarantee, or warranty (express or implied) as to the legal ability, competence, professional qualifications, or quality of representation which may be provided by any of the Member Attorneys or any other attorneys, law firms or legal service providers that you may otherwise interact with via the Site or Services.</p>
                <h5>3.5 Dfastlegal is not a Referral Service</h5>
                <p>Dfastlegal is not a lawyer referral service and does not provide such services. Dfastlegal is a listing or directory of individuals that are Member Attorneys, which is provided solely for information purposes. Dfastlegal provides tools to assist you to identify relevant Member Attorneys who may assist with your legal needs, but you acknowledge that Dfastlegal does not recommend, endorse, or qualify any particular Member Attorney to assist you with your legal needs</p>
                <h5>3.6 Dfastlegal Does Not Split Fees with Attorneys</h5>
                <p>Dfastlegal does not accept payments from Member Attorneys in the form of percentages of fees generated for such Member Attorneys.</p>
                <h5>3.7 Engagement Letters and Other Contractual Attorney-Client Relationships</h5>
                <p>Should you and a Member Attorney choose to formalize the scope or nature of an attorney-client relationship, it is the Member Attorney’s responsibility to send an engagement letter or any such documents or contract to you and to ensure their proper execution. While Dfastlegal may provide the software platform through which engagement letters or other documents may be sent and/or signed, Dfastlegal provides software only and assumes no responsibility for monitoring or ensuring the successful exchange or execution of such documents, such being the sole responsibility of the relevant Member Attorney. Dfastlegal does not define the scope or nature of the relationships between Member Attorneys and users of the Site or Services.</p>
                <h5>3.8 Attorney-Client Relationship and Confidentiality</h5>
                <p>You acknowledge that any form of use of the Site or Services is not intended to and will not create an attorney-client relationship between any person or entity and Dfastlegal, and that you have no expectation of privacy or confidentiality of communications occurring through the Site or Services, whether those exchanges are with a Dfastlegal representative or a Member Attorney.</p>
                <h5>3.9 Attorney Ethics and Practice of Law</h5>
                <p>If you are an attorney participating in any aspect of Dfastlegal, including but not limited to participation as a Member Attorney, you acknowledge that the Rules or Codes of Professional Conduct (“Rules”) of the jurisdiction(s) in which you are licensed apply to all aspects of your participation in the Site and Services and you represent and warrant that you will abide by such Rules. Dfastlegal disclaims all responsibility for your compliance with these rules.</p>
                <h5>3.10 No Endorsement of Lawyers</h5>
                <p>Dfastlegal does not select, approve, or otherwise endorse any particular attorney, law firm, or provider of legal services on Dfastlegal. Any and all such recommendations or other User Submissions are from third parties and are inherently subjective in nature, could be inaccurate or incomplete, and are difficult or impossible to verify. Therefore, Dfastlegal expressly disclaims any representation or warranty that such User Submissions are correct or reliable. UNDER NO CIRCUMSTANCE SHALL DFASTLEGAL HAVE ANY LIABILITY TO YOU FOR ANY RELIANCE ON INFORMATION CONTAINED ON OR OBTAINED THROUGH THE SITE OR SERVICES. SUCH RELIANCE SHALL BE SOLELY AT YOUR OWN RISK.</p>
                <h5>3.11 User Disputes</h5>
                <p>You are solely responsible for your interactions with other Dfastlegal users. Dfastlegal retains the right, but expressly disclaims any obligation, to become involved in any dispute between you and any other user or users of Dfastlegal.</p>
                <h5>4. License</h5>
                <p>We own all right, title, and interest in and to the Dfastlegal content we post on the Site or otherwise make available through the Services (“Our Content”). We grant you a non-exclusive, revocable, worldwide, royalty-free, non-transferable and non-sublicensable license to access and use Our Content. Such use must be consistent with the terms of this Agreement and the terms of any other agreement between you and Dfastlegal in effect from time to time.</p>
                <p>With respect to all content you choose to post on the Site or otherwise make available through the Services (“User Submissions”), you represent and warrant that all User Submissions are solely your intellectual property or that you have obtained any and all necessary consents, approvals and licenses to make use of such User Submissions and to grant us the license granted below, and you represent and warrant that your User Submissions do not and will not violate any applicable law, violate or infringe the intellectual property rights or other property rights of Dfastlegal or any third party, or violate or breach any agreement or other obligation to which you or such User Submission is subject. You are solely responsible for your User Submissions and you agree not to submit User Submissions that violate this Agreement in any way.</p>
                <p>You grant us a non-exclusive, worldwide, royalty-free, perpetual, transferable and sublicensable license to use, distribute, reproduce, publish, reprint, modify, adapt, publicly display and/or publicly perform your User Submissions, in whole or in part, in original form or as edited or modified by Dfastlegal, in all languages and forms, in all media now known or hereafter developed, for any commercial or noncommercial purpose.</p>
                <h5>5. Infringing Content</h5>
                <p>We reserve the right to terminate the access of you or any other user who infringes third party copyright or other third party intellectual property rights or other property rights, whether through unauthorized User Submissions or otherwise, upon prompt notification to us by the third party rights holder or its legal agent.</p>
                <p>Any person or entity who or which believes that his, her or its intellectual property has been copied and posted via the Site in a way that constitutes infringement shall provide us with the following information: (a) an electronic or physical signature of the person authorized to act on behalf of the rights holder; (b) an identification and location on the Site or Services of the property that is claimed to be infringed; (c) a written statement by such person that he, she or it has a good faith belief that the disputed use is not authorized by the owner, its agent, or the law; (d) such person’s name and contact information, such as telephone number or e-mail address; and (e) a statement by such person that the foregoing information in the notice is accurate and, under penalty of perjury, that the person delivering the notice is the owner of the property in question or authorized to act on the owner’s behalf. Notices to us regarding any alleged infringement should be directed to us at support@Dfastlegal.com.</p>
                <h5>6. Rules for Using the Site and Services</h5>
                <p>All content we make available through the Site and Services, whether Our Content or User Submissions, is provided solely for your personal use and is not for commercial exploitation, unless authorized in this Agreement or otherwise in writing between you and Dfastlegal. You may not decompile, reverse engineer, disassemble, rent, lease, loan, sell, sublicense, transfer or create derivative works from the Site or the Services. Nor may you use any network monitoring or discovery software to determine the Site or Services’ architecture, or extract information about usage, individual identities or users. You may not use any robot, spider, other automatic software or device, or manual process to monitor or copy the Site or the Services without our prior written permission. You may not copy, modify, reproduce, republish, distribute, display, perform or transmit for commercial, non-profit or public purposes all or any portion of the Site or the Services, except to the extent permitted above. You may not use or otherwise export or re-export the Site or Services or any portion thereof, or any software available on or through the Site or Services in violation of the laws and regulations of Kingdom of Thailand. Any unauthorized use of the Site or the Services is expressly prohibited. Dfastlegal does not authorize the harvesting or collection of names or addresses from the Site or the Services for the purpose of sending unsolicited e-mail, or for any other purpose.</p>
                <p>You may not employ any language or content that is unlawful, obscene, vulgar, defamatory, abusive, threatening, profane, invasive of privacy or publicity rights, false, libellous, slanderous or otherwise objectionable. You may not upload, distribute or make available anything that may be harmful to minors or otherwise violates any applicable law. You may not take any action or upload, distribute or make available any content that violates, misappropriates or infringes upon the rights of others in any way, including any patents, copyrights, trademarks, trade secrets, rights of privacy, rights of publicity, or moral rights of Dfastlegal or any third party. You may not upload, distribute or make available content that contains advertising, publicity or solicitation for a product or services that did not receive prior written approval from Dfastlegal. You may not use the Site or the Services to collect any personally identifiable information, including profile names, e-mail addresses or other such information for commercial purposes, except as otherwise expressly permitted by the terms of this Agreement and the terms of any other written agreement between you and Dfastlegal in effect from time to time. You may not use the Site or the Services in any jurisdiction that does not give effect to all provisions of this Agreement.</p>
                <p>Without limiting the generality of the above, you may not:</p>
                <ul>
                    <li>use the Site or the Services in any manner that could damage, disable, overburden or impair the Site or the Services or any server or other hardware associated with the Site or the Services;</li>
                    <li>use the Site or the Services to contact any other person for purposes not expressly permitted under this Agreement and the terms of any other agreement between you and Dfastlegal in effect from time to time;</li>
                    <li>interfere with any other party’s use and enjoyment of the Site or the Services;</li>
                    <li>frame or otherwise display content from a source other than the Site or the Services in conjunction with Our Content or User Submissions;</li>
                    <li>circumvent any technological measure used by Dfastlegal to control access to or use of the Site or the Services;</li>
                    <li>use the Site or the Services in any manner to deceive, defraud, or mislead any person;</li>
                    <li>use the Site or Services to impersonate any person or entity or otherwise misrepresent your affiliation with a person or entity;</li>
                    <li>use any Dfastlegal-owned mark or product name as a meta-tag or other ‘hidden text’ for search engines in a manner that does not inure to the benefit of Dfastlegal;</li>
                    <li>post any User Submissions that are unlawful, purposely false or misleading, or that promote or encourage illegal activity.</li>

                </ul>
                <p>If you believe another user is in violation of any portion of this Agreement, please notify us at support@Dfastlegal.com.</p>
                <p>Dfastlegal has no obligation or intent to edit, monitor or screen User Submissions and is not responsible for the content in, or linked to or from, User Submissions. Dfastlegal may, and retains the right to, examine Dfastlegal for adherence to this Agreement and remove any materials that may be objectionable, violate this Agreement, or law, but expressly disclaims any and all warranties or representations that it will do so in any specific instance. By using Dfastlegal, you acknowledge and agree that Dfastlegal is under no obligation to monitor, edit, or remove any User Submissions solely upon your insistence and that Dfastlegal may modify, remove, or refuse to post User Submissions without notice.</p>
                <p>You are granted a limited, non-exclusive right to create a text hyperlink to the Site provided such link does not portray Dfastlegal, any of its products and services, or any professional or professional services entity in a false, misleading, derogatory or otherwise defamatory manner and provided further that the linking site does not contain any adult or illegal material or any material that, in Dfastlegal’s sole dertermination, is offensive, harassing or otherwise objectionable. This limited right may be revoked at any time. You may not use the Dfastlegal logo or other proprietary graphic of Dfastlegal to link to the Site without Dfastlegal’s consent. Further, you may not use, frame or utilize framing techniques to enclose any Dfastlegal trademark, logo or other proprietary information, including the images found at the Site, the content of any text or the layout/design of any page or form contained on a page on the Site without Dfastlegal's consent. Except as noted above, you are not conveyed any right or license by implication, estoppel or otherwise in or under any patent, trademark, copyright or proprietary right of Dfastlegal or any third party.</p>
                <h5>7. Changes to This Agreement</h5>
                <p>We reserve the right to change the terms of this Agreement at any time, and will notify you of any material change to this Agreement or our Privacy Policy by means of a posting on the Site. Updated versions of this Agreement will appear on the Site and are effective immediately. If you have an Account with Dfastlegal, we may also deliver written notice to you before posting updated versions of this Agreement.</p>
                <h5>8. Privacy and Your Account</h5>
                <p>Dfastlegal’s Privacy Policy forms part of this Agreement and is incorporated herein by reference.</p>
                <p>To deactivate your Account, please email or call us via the contact information listed under “Contact Us” at the end of this Agreement. Dfastlegal does not guarantee that it will maintain a backup copy of your User Submissions or other documents or information you have uploaded to the Site or Services in the event you deactivate your Account. You should download any such content prior to deactivating your Account.</p>
                <p>We store the information described above on servers located in the Kingdom of Thailand, and we may also store such information on servers and equipment in other countries. We take commercially reasonable steps to ensure that your data is secure.</p>
                <h5>9. No Performance Warranty</h5>
                <p>You use the Site and the Services, information on the Site and the Services, and materials linked from the Site and the Services at your own risk. We do not represent, warrant or guarantee (a) the accuracy, reliability, completeness, adequacy or currency of the information contained in, provided by, or linked to on the Site or the Services, (b) that the Site and the Services will be error-free, free of viruses or other harmful components, (c) that known defects will be corrected, or (d) that the Site or the Services will always be accessible. We may make improvements and/or changes to the Site and the Services, and their features, functionality or content thereof at any time in our discretion.</p>
                <h5>10. Third Party Content</h5>
                <p>Third party content, messages and services may appear on the Site or Services or may be accessible through links from the Site or Services. Dfastlegal is not responsible, and assumes no liability, for any mistakes, misstatements of law, defamation, slander, libel, omissions, falsehood or obscenity in the statements, opinions, representations or any other form of content contained in any third party content appearing on or accessible from the Site or Services. You acknowledge that the information and opinions in the third party content are neither endorsed or controlled by, nor reflect the beliefs of, Dfastlegal.</p>
                <h5>11. Advertisers and Sponsors</h5>
                <p>You acknowledge that the Site and/or the Services may contain advertising and sponsorships. Advertisers and sponsors are solely responsible for ensuring that material submitted for use on the Site and/or the Services is accurate and complies with any and all applicable laws. You agree that Dfastlegal will not be responsible for the illegality or any error or inaccuracy in advertisers’ or sponsors’ materials or for the acts or omissions of advertisers or sponsors.</p>
                <h5>12. Unlawful Activity</h5>
                <p>We reserve the right in our sole discretion to investigate complaints, actual, potential or alleged violations of this Agreement or other agreements applicable to us and any actual, potential or alleged violations of applicable law, but we undertake no obligation to do so. In connection with any such investigation, we may take any action we deem appropriate including, without limitation, reporting any suspected unlawful activity to law enforcement officials, regulators or other third parties, and disclosing any information necessary or appropriate to such persons relating to user profiles, e-mail addresses, usage history, posted materials, IP addresses and traffic information. If you encounter any prohibited content, material or other potential violations on the Site or the Services, you should be immediately report such content or violations to info@Dfastlegal.com.</p>
                <h5>13. Disclaimer</h5>
                <p>THE SITE AND THE SERVICES ARE PROVIDED ON AN "AS IS AND "AS AVAILABLE" BASIS. DFASTLEGAL EXPRESSLY DISCLAIMS ALL WARRANTIES, INCLUDING THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. WITHOUT LIMITING THE FOREGOING, DFASTLEGAL SPECIFICALLY DISCLAIMS ALL RESPONSIBILITY FOR ANY LOSS, INJURY, CLAIM, LIABILITY, OR DAMAGE OF ANY KIND RESULTING FROM, ARISING OUT OF OR ANY WAY RELATED TO (A) ANY THIRD PARTY WEBSITES (OR MOBILE APPLICATIONS, LINKS, ETC.) OR CONTENT THEREIN DIRECTLY OR INDIRECTLY ACCESSED THROUGH LINKS ON THE SITE AND/OR THE SERVICES, INCLUDING WITHOUT LIMITATION ANY ERRORS IN OR OMISSIONS THEREFROM, (B) THE UNAVAILABILITY OF THE SITE AND/OR THE SERVICES, OR ANY PORTION THEREOF, (C) YOUR USE OF THE SITE AND/OR THE SERVICES (D) ANY USER SUBMISSIONS, AND (E) YOUR USE OF ANY EQUIPMENT OR SOFTWARE IN CONNECTION WITH THE SITE OR THE SERVICES. DFASTLEGAL FURTHER SPECIFICALLY DISCLAIMS LIABILITY FOR ANY LOSS OF DATA STORED ON OR BY MEANS OF THE SITE OR THE SERVICES, AND DISCLAIMS LIABILITY FOR ANY LOSS OF DATA OR OTHER DAMAGE ARISING FROM SPYWARE, MALWARE, OR OTHER THIRD-PARTY CAUSES. DFASTLEGAL FURTHER SPECIFICALLY DISCLAIMS ANY WARRANTY THAT THE SITE AND/OR THE SERVICES WILL BE UNINTERRUPTED, ACCURATE, ERROR OR DELAY FREE, SECURE, OR FREE FROM BUGS, VIRUSES OR OTHER PROGRAM LIMITATIONS.</p>
                <p>WHERE ANY JURISDICTIONS LIMIT OR DO NOT ALLOW THE DISCLAIMER OF IMPLIED OR OTHER WARRANTIES AS SET FORTH ABOVE IN A PARTICULAR CIRCUMSTANCE, THEN DFASTLEGAL SHALL BE ENTITLED TO THE BENEFIT OF SUCH DISCLAIMERS AND LIMITATIONS TO THE MAXIMUM EXTENT PERMITTED BY SUCH APPLICABLE LAW IN SUCH PARTICULAR CIRCUMSTANCE.</p>
                <h5>14. Limitation of Liability</h5>
                <p>YOUR SOLE AND EXCLUSIVE REMEDY FOR ANY DISPUTE WITH DFASTLEGAL IS TO DISCONTINUE YOUR USE OF THE SITE AND/OR THE SERVICES. DFASTLEGAL SHALL NOT BE LIABLE FOR ANY LOSS, INJURY, CLAIM, LIABILITY, OR DAMAGE OF ANY KIND RESULTING FROM YOUR USE OF THE SITE AND/OR THE SERVICES, INCLUDING WITHOUT LIMITATION ANY SPECIAL, DIRECT, INDIRECT, INCIDENTAL, PUNITIVE OR CONSEQUENTIAL DAMAGES OF ANY KIND WHATSOEVER (INCLUDING WITHOUT LIMITATION ATTORNEYS’ FEES AND/OR EXPENSES) IN ANY WAY DUE TO, RESULTING FROM, OR ARISING IN CONNECTION WITH THE USE OF OR INABILITY TO USE THE SITE AND/OR THE SERVICES. FURTHER, DFASTLEGAL SHALL NOT BE LIABLE IN ANY INSTANCE WHATSOEVER FOR ACTIONS BY ANY THIRD PARTY INCLUDING, WITHOUT LIMITATION, ADVERTISMENTS AND SOLICITATIONS. THE LIMITATIONS SET FORTH HEREIN ARE FUNDAMENTAL ELEMENTS OF THE BASIS OF THE BARGAIN BETWEEN YOU AND DFASTLEGAL. DFASTLEGAL WOULD NOT BE ABLE TO PROVIDE YOU WITH THE SITE AND/OR THE SERVICES WITHOUT SUCH LIMITATIONS.</p>
                <h5>15. Indemnification</h5>
                <p>You are solely liable for any User Submissions, content, messages, verbal or written statements, or other information you upload to or make available or communicate through the Site or the Services. You agree to defend, indemnify, and hold Dfastlegal, its affiliates, contractors, suppliers, directors, employees and agents harmless from any and all claims, costs, damages, judgments, and liabilities (including but not limited to reasonable attorney's fees) from any third party claim arising out of or relating to: (a) your violation of any term of this Agreement, (b) your use of or access to the Site and/or the Services, (c) your User Submissions, (d) any improper, unauthorized or illegal uses of your Account, Attorney Profile, or password, and (e) your violation of any rights of a third party, including without limitation any property or privacy right.</p>
                <h5>16. Remedies for Violations</h5>
                <p>We reserve the right to seek any and all remedies available at law and/or in equity for violations of this Agreement, including without limitation the right to block access to the Site and/or the Services from a particular Internet address or phone number. Our remedies shall be cumulative and the availability to us of any remedy or our exercise or enforcement of any right shall not limit or preclude the availability to us of any other remedy or our exercise or enforcement of any other right.</p>
                <h5>17. Dispute Resolution by Arbitration </h5>
                <p>You understand and agree that all claims, disputes or controversies between you and Dfastlegal arising under or related to this Agreement, the Site and/or the Services, Our Content, User Submissions, or the use or operation of the Site and/or the Services, including tort and contract claims, claims based upon any federal, state or local statute, law, order, decree or judgment, and the issue of arbitrability, shall be resolved by final and binding arbitration before the Thai Arbitration Institute (“TAI”), in accordance with the Arbitration Rules of the TAI. The arbitration shall be held in Bangkok, Thailand. Each party shall bear its own fees, costs and expenses, and one-half of the TAI’s fees, costs and expenses, except as otherwise provided in “Indemnification” under this Agreement. The arbitrator may not include the payment of attorney’s fees or expenses as part of any award, except as otherwise provided in “Indemnification” under this Agreement.</p>
                <h5>18. Governing Law</h5>
                <p>This Agreement and your use of the Site and Services shall be governed by and construed in accordance with the laws of Thailand applicable to agreements made and to be entirely performed within Thailand (even if your use is outside of Thailand), without resort to its conflict of law provisions. You agree that any action at law or in equity arising out of or relating to this Agreement, the Site and/or the Services shall be filed only in the courts located in Thailand and you hereby irrevocably and unconditionally consent and submit to the exclusive jurisdiction of such courts.</p>
                <h5>19. Entire Agreement</h5>
                <p>This Agreement (together with the Privacy Policy, the Attorney Terms and any other agreement between you and Dfastlegal in effect from time to time) constitutes the entire agreement of the parties with respect to the subject matter hereof, and supersedes any and all other prior written or oral agreements between Dfastlegal and you regarding such subject matter.</p>
                <h5>20. Severability/Waiver/Headings</h5>
                <p>If any portion of this Agreement is adjudicated to be invalid, illegal or unenforceable, such provision will be deemed to be deleted, but the validity legality and enforceability of the remaining portions of this Agreement will not in any way be affected or impaired, and this Agreement will be enforceable as so modified. Failure of Dfastlegal to enforce any provision of this Agreement will not constitute or be construed as a waiver of such provision or of the right to enforce such provision. The headings and captions contained in this Agreement are inserted for convenience only and do not constitute a part of this Agreement.</p>
                <h5>21. Termination</h5>
                <p>You have the right to discontinue your use of the Site and the Services any time upon notice to Dfastlegal, and Dfastlegal has the unlimited right to terminate or limit your access to the Site and/or the Services at any time and for any reason and without notice. In the event of termination, you are no longer authorized to access or use the Site and/or the Services. Dfastlegal has the unlimited right to delete User Submissions without notice at any time and for any reason. The restrictions imposed on you with respect to content acquired and uploaded or transmitted via the Site and/or the Services, and the disclaimers, limitations of liabilities, indemnity provisions, and dispute resolution provisions set forth in this Agreement, shall survive. In any event, all of Dfastlegal’s rights under this Agreement (and to the extent applicable, all of the rights under this Agreement of its affiliates, and its affiliates’ directors, officers, employees, contractors, representatives and agents, licensees and licensors) shall survive any termination of this Agreement.</p>
                <h5>22. No Construction against Drafter</h5>
                <p>The terms of this Agreement shall not be construed against Dfastlegal by virtue of its having drafted them.</p>
                <h5>23. No Implied Third Party Beneficiaries</h5>
                <p>Nothing in this Agreement is intended to confer on any third party (whether referred to in this Agreement by name, class, description or otherwise) any benefit or any right under any legislation in any country to enforce any provisions of this Agreement, except as expressly contemplated in this Agreement.</p>
                <h5>24. No Assignments or Transfers</h5>
                <p>You may not assign this Agreement or your rights and obligations hereunder, in whole or in part, to any third party without Dfastlegal’s prior written consent (in its sole discretion), and any attempt by you to do so in violation hereof will be void and ineffective. Dfastlegal may assign this Agreement and its and/or your rights and/or obligations under this Agreement (in whole or in part) without restriction and without notice to you. This Agreement shall inure to the benefit of, and may be enforced by, you and Dfastlegal and your and Dfastlegal’s respective permitted successors and assigns.</p>
                <h5>25. Force Majeure</h5>
                <p>Dfastlegal's performance under this Agreement are subject to interruption and delay due to causes beyond its reasonable control, such as acts of God, acts of any government, war or other hostility, civil disorder, the elements, fire, explosion, power failure, equipment failure, industrial or labor dispute, inability to obtain necessary supplies and the like.</p>
                <h5>26. Consent to Electronic Communications</h5>
                <p>Dfastlegal will generally communicate with its users by electronic means, such as e-mail. You agree that all agreements, notices, disclosures and other communications that we provide to you electronically satisfy any legal requirement that such communications be in writing.</p>
                <h5>27. Contact Us</h5>
                <p>You can contact Dfastlegal at:</p>
                <p>353/13 Thararom, Ramkamhaeng 43/1, Plubpla, Wangthonglang, 10310</p>
                <p>Tel: 081 735 7774</p>
                <p>Email: support@Dfastlegal.com</p>
            </div>
            <div *ngIf="active == 'PURCHASE_OF_ORDER'">
                <h5 class="text-xs-center text-md-left text-brand-color m-t-1">PURCHASE OF ORDER</h5>
                <h5>Payment method</h5>
                <p>We are now currently accept payment via credit card (Visa,Master Card) only.</p>
                <h5>Credit card information storage</h5>
                <p>Your security is our most concern, we do not store any data regard to your credit card infomration in our server after the transaction is completed.</p>
                <h5>Delivery</h5>
                <p>Your product/service of purchase will be send to you immediately after the transaction is completed.</p>
                <h5>Refund</h5>
                <p>We will provide customer a full refund within 7 days when all criteria below are met.</p>
                <ul>
                    <li>Lawyer cannot contact client with the information provided, and inform us at <a href="mailto:support@dfastlegal.com">support@dfastlegal.com</a></li>
                    <li>Dfastlegal support team has confirmed a fraud contact of client for 3 consecutive days.</li>
                </ul>
            </div>

        </div>
    </div>
    <div class="row m-b-1 hidden-md-up">
        <div class="col-xs-12">
            <select class="form-control" [(ngModel)]="active" (ngModelChange)="scrollToTop()">
                <option value="PRIVACY_POLICY">{{txt.PRIVACY_POLICY[lang]}}</option>
                <option value="TERM_OF_USE">{{txt.TERM_OF_USE[lang]}}</option>
                <option value="PURCHASE_OF_ORDER">{{txt.PURCHASE_OF_ORDER[lang]}}</option>
            </select>
        </div>
    </div>
</div>