﻿<div class="row">
    <div class="col-xs-12">
        <h5 class="text-brand-color">{{txt.SELECTED_CARD[lang]}}</h5>
    </div>
    <div class="col-xs-4">
        <img class="img-fluid m-x-auto" [src]="getCardLogoUrl(card)"/>
    </div>
    <div class="col-xs-8">
        <p class="m-b-0"><strong>{{txt.CARD_HOLDER_NAME[lang]}}: </strong></p>
        <p class="m-b-0">{{card.name}}</p>
        <p class="m-b-0"><strong>{{txt.CARD_NUMBER[lang]}}</strong></p>
        <p class="m-b-0">**** **** **** {{card.last_digits}}</p>
        <p class="text-muted">{{txt.EXPIRATION_DATE[lang]}}: {{card.expiration_month}}/{{card.expiration_year}}</p>
    </div>

</div>