﻿<div class="container body-container">

    <!-- guide -->
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card m-t-1">

                <div class="card-block">
                    <h5 class="card-title">{{txt.LI_DES_H[lang]}}</h5>
                    <p class="card-text">
                        {{txt.LI_DES[lang]}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- /guide -->
    <!-- registration form -->
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card m-t-1">

                <div class="card-header">
                    <h5 class="card-title">{{txt.LI_LAW_INFO[lang]}}</h5>
                </div>

                <div class="card-block">

                    <!--<form class="form-inline">
                        <div class="form-group ">
                            <select class="form-control" [(ngModel)]="signUpTitle">
                                <option value="MR">{{txt.MR[lang]}}</option>
                                <option value="MRS">{{txt.MRS[lang]}}</option>
                                <option value="MS">{{txt.MS[lang]}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="" class="hidden-xs-down">{{txt.F_NAME[lang]}}</label>
                            <input [(ngModel)]="signUpFirstName" type="text" class="form-control" id="" placeholder="{{txt.F_NAME[lang]}}">
                        </div>
                        <div class="form-group">
                            <label for="" class="hidden-xs-down">{{txt.L_NAME[lang]}}</label>
                            <input [(ngModel)]="signUpLastName" type="text" class="form-control" id="" placeholder="{{txt.L_NAME[lang]}}">
                        </div>
                    </form>-->
                    <form class="m-t-1">
                        <!--<div class="form-group row">
                            <label for="inputPassword3" class="col-sm-3 form-control-label hidden-xs-down">หมายเลขบัตรประชาชน/พาสปอร์ต</label>
                            <div class="col-sm-9">
                                <input [(ngModel)]="signUpPersonalId" type="text" class="form-control" id="" placeholder="หมายเลขบัตรประชาชน/พาสปอร์ต">
                            </div>
                        </div>-->
                        <div class="form-group row">
                            <label for="" class="col-sm-3 form-control-label hidden-xs-down">{{txt.TITLE[lang]}}</label>
                            <div class="col-sm-9">
                                <select class="form-control" [(ngModel)]="signUpTitle" name="title">
                                    <option value="MR">{{txt.MR[lang]}}</option>
                                    <option value="MRS">{{txt.MRS[lang]}}</option>
                                    <option value="MS">{{txt.MS[lang]}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-3 form-control-label hidden-xs-down">{{txt.F_NAME[lang]}}</label>
                            <div class="col-sm-9">
                                <input name="first" [(ngModel)]="signUpFirstName" type="email" class="form-control" id="" placeholder="{{txt.F_NAME[lang]}}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-3 form-control-label hidden-xs-down">{{txt.L_NAME[lang]}}</label>
                            <div class="col-sm-9">
                                <input name="last" [(ngModel)]="signUpLastName" type="text" class="form-control" id="" placeholder="{{txt.L_NAME[lang]}}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-3 form-control-label hidden-xs-down">{{txt.EMAIL[lang]}}</label>
                            <div class="col-sm-9">
                                <input name="email" [(ngModel)]="signUpEmail" type="text" class="form-control" id="" placeholder="{{txt.EMAIL[lang]}}">
                            </div>
                        </div>
                        <!--<div class="form-group row">
                            <label for="inputPassword3" class="col-sm-3 form-control-label hidden-xs-down">รหัสผ่าน</label>
                            <div class="col-sm-9">
                                <input [(ngModel)]="signUpPassword" type="password" class="form-control" id="" placeholder="รหัสผ่าน">
                            </div>
                        </div>-->
                        <!--<div class="form-group row">
                            <label for="inputPassword3" class="col-sm-3 form-control-label hidden-xs-down">ยืนยันรหัสผ่าน</label>
                            <div class="col-sm-9">
                                <input [(ngModel)]="signUpConfirmPassword" type="password" class="form-control" id="" placeholder="ยืนยันรหัสผ่าน">
                            </div>
                        </div>-->
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="isComp" [(ngModel)]="isComp">
                                {{txt.IS_COMP[lang]}}
                            </label>
                        </div>
                        <div class="row" *ngIf="isComp">
                            <div class="col-xs-6 col-sm-3">
                                <label class="radio-inline">
                                    <input name = "firmType" [(ngModel)]="companyType" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="firm">{{txt.FIRM[lang]}}
                                </label>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <label class="radio-inline">
                                    <input name="officeType"[(ngModel)]="companyType" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="office">{{txt.OFFICE[lang]}}
                                </label>
                            </div>
                        </div>
                        <!--<div class="form-group row" *ngIf="isComp">
                            <label for="inputPassword3" class="col-sm-3 form-control-label hidden-xs-down">ชื่อบริษัท</label>
                            <div class="col-sm-9">
                                <input [(ngModel)]="signUpCompName" type="text" class="form-control" id="" placeholder="ชื่อบริษัท">
                            </div>
                        </div>-->
                        <!--<div class="form-group row">
                            <label for="inputPassword3" class="col-sm-3 form-control-label hidden-xs-down">เลขทะเบียนนิติบุคคล</label>
                            <div class="col-sm-9">
                                <input [(ngModel)]="signUpCompId" type="text" class="form-control" id="" placeholder="เลขทะเบียนนิติบุคคล">
                            </div>
                        </div>-->
                        <div>
                            <button (click)="submit()" class="btn btn-primary btn-block m-t-1" [disabled]="isLoading">{{txt.LI_INQ_ACTION[lang]}}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>