﻿<div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-block">
                <div class="row">

                    <img class="img-fluid img-circle col-xs-8 offset-xs-2 col-sm-4 offset-sm-4" src="../img/empty-profile.jpg" *ngIf="!profileImageUrl" />
                    <img class="img-fluid img-circle col-xs-8 offset-xs-2 col-sm-4 offset-sm-4" [src]="profileImageUrl" *ngIf="profileImageUrl" />

                </div>
                <h5 class="text-brand-color m-t-1">{{txt.LAWYER[lang]}}: {{getFullname(lawyerProfile)}}</h5>
                <label class="text-brand-color">{{txt.EXPERTISE[lang]}}:</label>

                <ul>
                    <li>{{getExpertise(lawyerProfile,1)}}</li>
                    <li>{{getExpertise(lawyerProfile,2)}}</li>
                    <li>{{getExpertise(lawyerProfile,3)}}</li>
                </ul>
                <label *ngIf="qualifications.length > 0" class="text-brand-color">{{txt.QUALIFICATIONS[lang]}}</label>
                <ul>
                    <li *ngFor="let qualification of qualifications; let i = index">{{getDegree(qualification)}}: {{getStudyField(qualification)}}, {{getInstitute(qualification)}}</li>

                </ul>
                <label class="text-brand-color">{{txt.EXPERIENCE[lang]}}</label>
                <p class="card-text">{{getExperience(lawyerProfile)}}</p>
            </div>

        </div>

    </div>
    
</div>
<!--<div class="row">
    <img class="col-xs-3 p-x-0 offset-xs-1 col-md-3 offset-md-1 img-fluid img-rounded" src="../img/square.svg" style="min-height:25px" />
    <img class="col-xs-3 p-x-0 offset-xs-1 col-md-3 offset-md-1 img-fluid img-rounded" src="../img/square.svg" style="min-height:25px" />
    <img class="col-xs-3 p-x-0 offset-xs-1 col-md-3 offset-md-1 img-fluid img-rounded" src="../img/square.svg" style="min-height:25px" />
</div>-->
