<div class="container body-container">

    <!-- guide -->
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h2 class="m-t-1 text-brand-color">{{txt.WORK_WITH_US_H[lang]}}</h2>
            <div id="customers-carousel" class="carousel">
                <!-- class="slide" for slide operation -->
                <div class="carousel-inner" role="listbox">
                    <!-- client section -->

                    <!-- /client section -->
                    <!-- lawyer section -->
                    <div class="carousel-item-active">
                        <!-- <div class="row m-b-0">
                            <div class="col-xs-10 offset-xs-1 p-b-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                                <a class="btn btn-primary btn-block" [routerLink]="['/',lang,'lawyer-signup']">{{txt.LAW_ACTION[lang]}}</a>
                            </div>
                        </div> -->
                        <div class="col-md-12">
                            <!-- @md image become stack with text(col-12),@sm(image and text become inline)  -->
                            <div class="col-xs-5 col-md-5">
                                <img class="img-circle img-fluid" src="../../../img/corporate.png" />
                            </div>
                            <div class="col-xs-7 col-md-7">
                                <h3 class="main-page-header">{{txt.LAW_CNT_1_H[lang]}}</h3>

                            </div>
                            <div class="col-xs-12 col-md-7">
                                <p>
                                    {{txt.LAW_CNT_1[lang]}}
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <!-- @md image become stack with text(col-12),@sm(image and text become inline)  -->
                            <div class="col-xs-5 col-md-5">
                                <img class="img-circle img-fluid" src="../../../img/solve-problem.png" />
                            </div>
                            <div class="col-xs-7 col-md-7">
                                <h3 class="main-page-header">{{txt.LAW_CNT_2_H[lang]}}</h3>

                            </div>
                            <div class="col-xs-12 col-md-7">
                                <p>
                                    {{txt.LAW_CNT_2[lang]}}
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <!-- @md image become stack with text(col-12),@sm(image and text become inline)  -->
                            <div class="col-xs-5 col-md-5">
                                <img class="img-circle img-fluid" src="../../../img/on-budget.png" />
                            </div>
                            <div class="col-xs-7 col-md-7">
                                <h3 class="main-page-header">{{txt.LAW_CNT_3_H[lang]}}</h3>

                            </div>
                            <div class="col-xs-12 col-md-7">
                                <p>
                                    {{txt.LAW_CNT_3[lang]}}
                                </p>
                            </div>
                        </div>

                    </div>
                    <!-- /lawyer section -->


                </div>


            </div>

            <div class="card m-t-1">

                <div class="card-block">
                    <!-- <h5 class="card-title text-brand-color">{{txt.WORK_WITH_US_H[lang]}}</h5> -->
                    <p class="card-text">
                        {{txt.WORK_WITH_US[lang]}}
                    </p>

                </div>

            </div>

        </div>
    </div>
    <!-- /guide -->

    <!-- registration form -->
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card m-t-1">

                <div class="card-header ctm-card-header">
                    <h5 class="card-title m-b-0">{{txt.LAWYER_REGIST[lang]}}</h5>
                </div>

                <div class="card-block">

                    <form class="m-t-1" #lawyerSignupForm="ngForm">
                        <div class="form-group row">
                            <label for="" class="col-sm-3 form-control-label hidden-xs-down">{{txt.TITLE[lang]}}</label>
                            <div class="col-sm-9">
                                <select name="Title" class="form-control" [(ngModel)]="signUpTitle">
                                    <option value="MR">{{txt.MR[lang]}}</option>
                                    <option value="MRS">{{txt.MRS[lang]}}</option>
                                    <option value="MS">{{txt.MS[lang]}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-3 form-control-label hidden-xs-down">{{txt.F_NAME[lang]}}</label>
                            <div class="col-sm-9">
                                <input name="Firstname" #firstName="ngModel" [(ngModel)]="signUpFirstName" type="text" class="form-control" placeholder="{{txt.F_NAME[lang]}}"
                                    required minlength="2" maxlength="24">
                                <div *ngIf="firstName.errors && (firstName.dirty || firstName.touched)">
                                    <div class="err-msg" [hidden]="!firstName.errors.required">Name is required</div>
                                    <div class="err-msg" [hidden]="!firstName.errors.minlength">Name must be at least 2 characters long</div>
                                    <div class="err-msg" [hidden]="!firstName.errors.maxlength">Name must not be longer than 24 characters</div>
                                </div>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-3 form-control-label hidden-xs-down">{{txt.L_NAME[lang]}}</label>
                            <div class="col-sm-9">
                                <input name="Lastname" #lastName="ngModel" [(ngModel)]="signUpLastName" type="text" class="form-control" placeholder="{{txt.L_NAME[lang]}}"
                                    required minlength="2">

                                <div *ngIf="lastName.errors && (lastName.dirty || lastName.touched)">
                                    <div class="err-msg" [hidden]="!lastName.errors.required">Lastname is required</div>
                                    <div class="err-msg" [hidden]="!lastName.errors.minlength">Lastname must be at least 2 characters long</div>
                                </div>

                            </div>

                        </div>
                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-3 form-control-label hidden-xs-down">{{txt.ID[lang]}}</label>
                            <div class="col-sm-9">
                                <input name="PersonalID" #personalId="ngModel" [(ngModel)]="signUpPersonalId" type="text" class="form-control" placeholder="{{txt.ID[lang]}}/พาสปอร์ต"
                                    required maxlength="13" minlength="8">
                                <div *ngIf="personalId.errors && (personalId.dirty ||personalId.touched)">
                                    <div class="err-msg" [hidden]="!personalId.errors.required">Personal ID is required</div>
                                    <div class="err-msg" [hidden]="!personalId.errors.minlength">Personal ID must be at least 8 characters long</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-3 form-control-label hidden-xs-down">{{txt.EMAIL[lang]}}</label>
                            <div class="col-sm-9">
                                <input name="Email" #email="ngModel" [(ngModel)]="signUpEmail" type="email" class="form-control" id="" placeholder="{{txt.EMAIL[lang]}}"
                                    required>
                                <div *ngIf="email.errors && (email.dirty ||email.touched)">
                                    <div class="err-msg" [hidden]="!email.errors.required">Email is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-3 form-control-label hidden-xs-down">{{txt.PW[lang]}}</label>
                            <div class="col-sm-9">
                                <input name="Password" #password="ngModel" [(ngModel)]="signUpPassword" type="password" class="form-control" id="" placeholder="{{txt.PW[lang]}}"
                                    required minlength="8" maxlength="24">
                                <div *ngIf="password.errors && (password.dirty ||password.touched)">
                                    <div class="err-msg" [hidden]="!password.errors.required">Password is required</div>
                                    <div class="err-msg" [hidden]="!password.errors.minlength">Password must be longer than 8 characters</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-3 form-control-label hidden-xs-down">{{txt.CONFIRM_PW[lang]}}</label>
                            <div class="col-sm-9">
                                <input name="ConfirmPassword" #confirmPassword="ngModel" [(ngModel)]="signUpConfirmPassword" type="password" class="form-control"
                                    placeholder="{{txt.CONFIRM_PW[lang]}}" required>
                                <div *ngIf="confirmPassword.dirty ||confirmPassword.touched">
                                    <div class="err-msg" [hidden]="(signUpPassword == signUpConfirmPassword)">Password does not match</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="checkbox col-sm-9 offset-sm-3">
                                <label>
                                    <input type="checkbox" name="AsCompany" [(ngModel)]="asCompany"> {{txt.IS_COMP[lang]}}
                                </label>
                            </div>
                        </div>

                        <div class="row" *ngIf="asCompany">
                            <div class="col-sm-9 offset-sm-3">
                                <div class="col-xs-12 col-sm-6">
                                    <label class="radio-inline">
                                        <input name="FirmBox" [(ngModel)]="companyType" type="radio" id="inlineRadio1" value="firm">{{txt.FIRM[lang]}}
                                    </label>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <label class="radio-inline">
                                        <input name="OfficeBox" [(ngModel)]="companyType" type="radio" id="inlineRadio2" value="office">{{txt.OFFICE[lang]}}
                                    </label>
                                </div>

                            </div>



                        </div>
                        <div class="form-group row" *ngIf="asCompany">
                            <label for="inputPassword3" class="col-sm-3 form-control-label hidden-xs-down">{{txt.COMP_NAME[lang]}}</label>
                            <div class="col-sm-9">
                                <input name="CompanyName" [(ngModel)]="signUpCompName" type="text" class="form-control" id="" placeholder="{{txt.COMP_NAME[lang]}}"
                                    required>
                            </div>
                        </div>
                        <div class="form-group row" *ngIf="asCompany">
                            <label for="inputPassword3" class="col-sm-3 form-control-label hidden-xs-down">{{txt.COMP_ID[lang]}}</label>
                            <div class="col-sm-9">
                                <input name="CompanyId" [(ngModel)]="signUpCompId" type="text" class="form-control" id="" placeholder="{{txt.COMP_ID[lang]}}"
                                    required>
                            </div>
                        </div>
                        <hr />
                        <button type="submit" (click)="lawyerSignUp()" class="btn btn-warning btn-block m-t-2 m-b-0" [disabled]="!lawyerSignupForm.form.valid || isLoading">{{txt.REGISTER[lang]}}</button>
                        <p *ngIf="error" class="text-xs-right">{{error.message}}</p>
                        <div class="row" *ngIf="isLoading">
                            <div class="col-xs-1 offset-xs-6 m-t-1">
                                <div class="loader"></div>
                            </div>

                        </div>

                    </form>

                </div>


            </div>
        </div>
    </div>

</div>