﻿<div class="container body-container">

    <h3 class="m-t-1">{{txt.OUR_SERVICES[lang]}}</h3>

    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-md-8 push-md-4">
                    <strong>{{txt.OUR_SERVICES_H[lang]}}</strong>
                    <ul>
                        <li>{{txt.MATCHING_SERVICE[lang]}}</li>
                        <li>{{txt.LISTING_SERVICE[lang]}}</li>
                    </ul>

                </div>

                
                <img src="../../../img/corporate.png" class="img-fluid col-md-4 pull-md-8" />
            </div>


        </div>

    </div>

</div>
