﻿<div class="container body-container">

    <!-- progress bar -->
    <div class="row p-a-0 m-t-0">
        <div class="col-lg-8 offset-lg-2 p-a-0">
            <img class="center-block pull-md-left" [src]="getProgressImage()" style="width:360px" />
        </div>
    </div>

    <!-- /progress bar -->
    <!-- description -->
    <div class="row p-x-1 m-t-0">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">

                <div class="card-block">

                    <h5 class="card-title text-brand-color">{{txt.WAIT_FOR_CONTACT_H[lang]}}</h5>
                    <p class="card-text">{{txt.WAIT_FOR_CONTACT_INFO[lang]}}</p>
                    <p class="card-text"></p>
                    <button class="btn btn-outline-info btn-block" [routerLink]="['/',lang]">{{txt.TO_FIRST_PAGE[lang]}}</button>
                    <button class="btn btn-outline-warning btn-block" [routerLink]="['/',lang,'client-cases']">{{txt.TO_YOUR_CASES[lang]}}</button>
                    

                </div>

            </div>
        </div>
    </div>
</div>
