﻿<div class="container body-container">

    <!-- description -->
    <div class="row p-x-1 m-t-0">
        <div class="col-lg-8 offset-lg-2">
            <h3>{{txt.PAY_SUCCESS_H[lang]}}</h3>
            <div class="card m-t-1">

                <div class="card-block">

                    <h5 class="card-title">{{txt.PAY_THANKYOU[lang]}}</h5>
                    <p class="card-text">{{txt.PAY_SUCCESS_INFO[lang]}}</p>
                    
                    <a class="btn btn-outline-info btn-block" (click)="toCaseResponse()">{{txt.SEE_CONTACT[lang]}}</a>
                   

                </div>

            </div>
        </div>
    </div>

</div>
