﻿<div class="container body-container">
    <!-- search -->
    <div class="row p-x-1">
        <div class="card m-t-1 col-lg-8 offset-lg-2">
            <div class="card-block p-a-0">
                <form>
                    <div class="form-group row">
                        <div class="col-xs-12 col-md-4 m-t-1">
                            <select name="CaseType" class="form-control form-control-sm" [(ngModel)]="expertiseInput">
                                <option *ngFor="let expertise of expertiseObjects" value="{{expertise.expValue}}">{{expertise.txt[lang]}}</option>

                            </select>

                        </div>
                        <div class="col-xs-12 col-md-4 m-t-1">
                            <select name="ProvinceInput" class="form-control form-control-sm" [(ngModel)]="provinceInput">
                                <option *ngFor="let province of provinceObjects" value="{{province.value}}">{{province.txt[lang]}}</option>

                            </select>

                        </div>
                        <!--<div class="col-xs-6 col-md-3 m-t-1">
                            <select class="form-control form-control-sm col-xs-6">
                                <option selected>เรียงตาม</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <div class="col-xs-6 col-md-3 m-t-1">
                            <button class="btn btn-default btn-sm btn-block" (click)="startFilter()">search</button>
                        </div>-->
                        <div class="col-xs-12 col-md-4 m-t-1">
                            <button class="btn btn-default btn-sm btn-block" (click)="startFilter()" [disabled]="isLoading">{{txt.SEARCH[lang]}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /search -->
    <div class="row" *ngIf="isLoading">
        <div class="col-xs-2 offset-xs-5">
            <div class="loader"></div>
        </div>
    </div>
    <!--no result-->
    <div class="row p-x-1" *ngIf="lawyerProfiles.length == 0 && !isLoading">
        <div class="card m-t-1 col-lg-8 offset-lg-2">
            <div class="card-block text-xs-center">{{txt.SRY_NO_RESULT[lang]}}</div>
        </div>
    </div>
    <!--/no result-->
    <!-- lawyer repeat -->
    <div class="row col-lg-8 offset-lg-2" *ngIf="lawyerProfiles.length > 5">
        <pagination-controls class="center-block" (pageChange)="p = $event"></pagination-controls>
    </div>

    
    <short-lawyer-profile *ngFor="let lawyerProfile of lawyerProfiles | paginate: { itemsPerPage: 5, currentPage: p }" [lawyerProfile]="lawyerProfile" [lang]="lang" [withContact]="true"></short-lawyer-profile>

    <div class="row col-lg-8 offset-lg-2" *ngIf="lawyerProfiles.length > 5">
        <pagination-controls class="center-block" (pageChange)="p = $event"></pagination-controls>

    </div>
    <!-- /lawyer repeat-->

</div>