﻿ <div class="container">


    <!-- progress bar -->
    <div class="row p-a-0 m-t-0">
        <div class="col-lg-8 offset-lg-2 p-a-0">
            <img class="center-block pull-md-left" [src]="getProgressImage()" style="width:360px" />
        </div>
    </div>
    <!-- /progress bar -->
    <!-- description -->
    <div class="row p-x-1 m-t-0">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">

                <div class="card-block">
                    <h5 class="card-title text-brand-color">{{txt.THX_FOR_INFO_H[lang]}}</h5>
                    <p class="card-text">{{txt.THX_FOR_INFO[lang]}}</p>
                    
                </div>

            </div>
        </div>
    </div>
    <!-- /description -->



    <div class="row p-x-1">
        <div class="col-lg-8 offset-lg-2">
            <div class="col-sm-4 col-xs-2">
                <button class="btn btn-primary btn-block btn-sm hidden-xs-down m-b-1" (click)="toLastQuestion()" [disabled]="isLoading">{{txt.BACK[lang]}}</button>
            </div>
            <div class="text-xs-center text-muted col-xs-8 col-sm-4">
                <h5>{{txt.LAWYER_LIST[lang]}}</h5>
            </div>
            <div class="col-sm-4 col-xs-2">
                <button class="btn btn-warning btn-block btn-sm hidden-xs-down m-b-1" (click)="toConfirmPage()" [disabled]="isLoading">{{txt.FINISH_SELECTION[lang]}}</button>
            </div>
            <div class="row" *ngIf="isLoading">
                <div class="col-xs-1 offset-xs-5">
                    <div class="loader"></div>
                </div>
            </div>
        </div>
    </div>

        <!--no result-->
    <div class="row p-x-1 m-t-0" *ngIf="lawyersForCase && lawyersForCase.length == 0 && !isLoading">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">

                <div class="card-block">
                    <h5 class="card-title text-brand-color">ขออภัยค่ะ เราไม่พบทนายที่มีความสามารถตรงกับปัญหาของคุณในขณะนี้ </h5>
                    <p class="card-text">ทางเราขออภัยเป็นอย่างสูง เราจะเก็บข้อมูลปัญหาของคุณเพื่อนำไปปรับปรุงต่อไปค่ะ อย่างไรก็ตามคุณสามารถเข้าไปเลือกดูทนายความที่มีศักยภาพได้จากหน้าลิสต์ทนายของเราค่ะ</p>
                    <button class="button btn-block btn-info" [routerLink]="['/',lang,'lawyers']">สู่หน้าเลือกทนาย</button>
                </div>

            </div>
        </div>
    </div>
    <!--/no result-->

    <!-- lawyers -->
     <div class="row col-lg-8 offset-lg-2" *ngIf="lawyersForCase.length != 0">
         <pagination-controls class="center-block" (pageChange)="p = $event"></pagination-controls>

     </div>

     <short-lawyer-profile *ngFor="let profile of lawyersForCase | paginate: { itemsPerPage: 5, currentPage: p }" 
                           [lawyerProfile]="profile" 
                           [lang]="lang" 
                           [withContact]="false" 
                           [forSelection]="true"
                           [caseId]="caseId">

     </short-lawyer-profile>
    

     <div class="row col-lg-8 offset-lg-2" *ngIf="lawyersForCase.length != 0">
         <pagination-controls class="center-block" (pageChange)="p = $event"></pagination-controls>

     </div>
    <!-- /lawyers -->
    <!-- more -->
    <!--<div class="row">
        <div class="m-b-1 col-xs-12 col-md-8 col-md-offset-2 p-x-3">
            <a class="btn btn-info-outline btn-block">ค้นหาเพิ่ม</a>
        </div>
    </div>-->
    <!-- /more -->
    <!-- fill the gap for navbar fixed-top -->
    <!--<div style="height:54px;width:100%" class="hidden-sm-up">

    </div>-->
    <!-- /fill the gap for navbar fixed-top -->
    <!-- fixed bottom bar for button-->
    <nav class="navbar navbar-fixed-bottom navbar-dark bg-inverse row hidden-sm-up">
        <div class="col-xs-12" role="group" aria-label="Basic example">
            <button class="btn btn-primary col-xs-3" (click)="toLastQuestion()" [disabled]="isLoading">{{txt.BACK[lang]}}</button>
            <button class="btn btn-warning col-xs-8 offset-xs-1" (click)="toConfirmPage()" [disabled]="isLoading">{{txt.FINISH_SELECTION[lang]}}</button>
        </div>

    </nav>
    <!-- /fixed bottom bar for button-->
    <!-- fixed bottom bar for button-->
    <!--<nav class="navbar navbar-fixed-bottom navbar-dark bg-inverse row hidden-xs-down">
        <div class="col-xs-12" role="group" aria-label="Basic example">
            <a class="btn btn-warning col-xs-2" href="lawyers.html">ย้อนกลับ</a>
            <a class="btn btn-success col-xs-2 col-xs-offset-8" href="">เลือกเสร็จแล้ว</a>
        </div>

    </nav>-->
    <!-- /fixed bottom bar for button-->
</div>