﻿<div class="container body-container">

    <!-- progress bar -->
    <div class="row p-a-0 m-t-0">
        <div class="col-lg-8 offset-lg-2 p-a-0">
            <img class="center-block pull-md-left" [src]="getProgressImage()" style="width:360px" />
        </div>
    </div>

    <!-- /progress bar -->
    <div class="row" *ngIf="isLoading">
        <div class="col-xs-1 offset-xs-5">
            <div class="loader"></div>
        </div>
    </div>
    <!-- guide -->
    <div class="row p-x-1 m-t-0" *ngIf="currentQuestionNumber == 1">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">

                <div class="card-block">
                    <h5 class="card-title text-brand-color">{{txt.PROCEDURE[lang]}}</h5>
                    <p class="card-text text-justify">{{txt.PROCEDURE_DETAIL[lang]}}</p>

                </div>


            </div>
        </div>
    </div>
    <!-- /guide -->
    <!-- question -->
    <div class="row p-x-1 m-t-1">
        <div class="col-lg-8 offset-lg-2">
            <div class="card" *ngIf="currentQuestion">
                <div class="card-header question-header">
                    {{txt.QUESTION[lang]}} {{currentQuestionNumber}}: {{getQuestionText(currentQuestion)}}
                </div>
                <!--<div class="card-block ctm-grey-bg text-muted" style="padding:5px 20px 5px 20px">
                    {{txt.Q_EXPLAIN[lang]}}: {{getQuestionHint(currentQuestion)}}
                </div>-->
                <div class="card-block">
                    <!--<h4 class="card-title">Special title treatment</h4>-->
                    <!--<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
                    
                    <div class="row">

                        <div class="col-xs-12 col-sm-6" *ngFor ="let answer of currentAnswers; let i = index;">
                            <div class="card card-block" (click)="selectAnswer(answer)" [class.selected] = "isSelected(answer)">
                                <p class="card-text">{{getAnswerText(answer)}}</p>
                            </div>
                            
                        </div>

                    </div>
                    
                    <!--<div class="form-group row">

                        <div class="col-sm-10 col-sm-offset-1">

                            <div *ngFor ="let answer of currentAnswers; let i = index">
                                <label>
                                    <input [(ngModel)]="selectedAnswerId" type="radio" name="answers" value="{{answer.id}}" >
                                    {{getAnswerText(answer)}}
                                </label>
                            </div>

                        </div>
                    </div>-->
                    <div class="row hidden-xs-down">
                        <div class="col-sm-10 offset-sm-1">
                            <button class="btn btn-primary ctm-question-button-w" (click)="toPreviousQuestion()" [disabled]="isLoading">{{txt.BACK[lang]}}</button>
                            <button class="btn btn-warning pull-xs-right ctm-question-button-w" (click)="submitAnswer()" [disabled]="isLoading">{{txt.NEXT[lang]}}</button>
                        </div>

                    </div>



                </div>
                <div class="card-footer text-muted hidden-xs-down">
                    <p *ngIf="selectedAnswer">
                        {{txt.A_EXPLAIN[lang]}}: {{getAnswerHint(selectedAnswer)}}
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- /question -->
    <!-- fill the gap for navbar fixed-top -->
    <!--<div style="height:54px;width:100%" class="hidden-sm-up">

    </div>-->
    <!-- /fill the gap for navbar fixed-top -->
    <!-- fixed bottom bar for button-->
    <nav class="navbar navbar-fixed-bottom navbar-dark bg-inverse row hidden-sm-up ">
        <div class="col-xs-12" *ngIf="selectedAnswer">
            <p style="max-height:4.5rem;overflow-y:auto">{{txt.A_EXPLAIN[lang]}}: {{getAnswerHint(selectedAnswer)}}</p>
        </div>
        <div class="col-xs-12" role="group" aria-label="Basic example">
            <button class="btn btn-primary col-xs-3" (click)="toPreviousQuestion()" [disabled]="isLoading">{{txt.BACK[lang]}}</button>
            <button class="btn btn-warning col-xs-8 offset-xs-1" (click)="submitAnswer()" [disabled]="isLoading">{{txt.NEXT[lang]}}</button>
        </div>

    </nav>
    <!-- /fixed bottom bar for button-->
</div>
