﻿<div class="container body-container">

    <h3 class="m-t-1">Pricing</h3>

    <div class="row">
        <div class="col-xs-12 col-md-6 offset-md-3">
            <div class="card">
                <div class="card-block">
                    <p class="text-xs-center text-muted m-b-0">สำหรับลูกความ:</p>
                    <p style="font-size:3rem" class="text-brand-color text-xs-center">FREE</p>

                </div>
                <div class="card-footer">
                    <p>ลูกความใช้บริการในเวบไซต์ของ DFastlegal ทุกอย่างฟรี ค่าใช้จ่ายในการดำเนินการของทนายยังคงเหมือนเดิม ราคาทนายของแต่ละบุคคลอาจไม่เท่ากันและขึ้นอยู่กับความยากง่ายของคดีความ</p>

                </div>                
            </div>
        </div>
    </div>


</div>