﻿<div class="container body-container">
    <h3 class="m-y-1">FAQS</h3>
    <h4>สำหรับลูกความ</h4>
    <p><strong>ฉันจะทราบค่าใช้จ่ายในการให้ทนายดำเนินการอย่างไร?</strong>
        <br><span>DFastLgeal ไม่มีการเก็บค่าใช้จ่ายในการติดต่อทนายให้กับคุณ ค่าใช้จ่ายที่เกิดขึ้นจะเป็นค่าใช้จ่ายตามปกติในการให้ทนายดำเนินการ ราคาในการดำเนินการของทนายแต่ละบุคคล/บริษัท นั้นขึ้นอยู่กับประเภทของคดีความและความอยากง่ายของคดีความ ทาง DFastLegal จะให้ข้อมูลค่าใช้จ่ายขั้นต่ำในการดำเนินการแต่ละประเภทก่อนที่คุณจะตัดสินใจให้เราดำเนินการหาทนายให้</span>
    </p>
    <p><strong>ฉันจะมั่นใจได้อย่างไรว่า เมื่อส่งคดีความให้แล้ว จะได้รับทนายความที่เหมาะสมกับงานมากที่สุด?</strong>
        <br><span>เมื่อเรารับคดีความจากคุณแล้ว เราจะส่งต่อกับให้ทนายๆหลายๆท่านที่มีความสามารถตรงกับคดีความของคุณได้พิจารณา คุณจะได้พูดคุยกับทนายความหลายๆท่านที่ตอบรับดำเนินการก่อนที่จะตัดสินใจเลือกทนายท่านใดท่านหนึ่งที่ท่านรู้สึกมั่นใจมากที่สุดอีกครั้งหนึ่งค่ะ</span>
    </p>
    <hr />
    <h4>สำหรับทนาย</h4>
    <p>
        <strong>จะมั่นใจได้อย่างไรว่าลูกความที่ได้รับสามารถติดต่อได้จริง?</strong>
        <br><span>ทุกครั้งก่อนที่ลูกความจะสร้างเคสขึ้นมา ทางเราใช้ระบบการยืนยันตัวตนผ่านมือถือ เพื่อให้มั่นใจว่าลูกความสามารถติดต่อได้จริง</span>
    </p>
    <p>
        <strong>ทนายความสามารถเลือกรับหรือไม่รับดำเนินการในคดีที่ส่งมาได้หรือไม่?</strong>
        <br><span>ได้ค่ะ เราจะส่งข้อมูลคดีควาให้กับทนายความเพื่อใช้ประกอบการตัดสินใจก่อน ทนายความสามารถพิจารณารับหรือไม่รับดำเนินการได้ แต่ในการรับดำเนินการหากคดีความมีทนายความท่านอื่นรับดำเนินการเกินตามจำนวนที่ลูกความระบุไว้แล้ว คดีความนั้นจะไม่สามารถรับดำเนินการได้ค่ะ</span>
    </p>
    <p>
        <strong>เมื่อทนายความรับดำเนินการแล้ว ลูกความจะตกลงดำเนินการด้วยทันทีหรือไม่?</strong>
        <br><span>ไม่ค่ะ ลูกความจะมีสิทธิในการเลือกทนายความในการดำเนินการเอง หลังจากได้พูดคุยกับทนายความหลายๆท่านก่อนการตัดสินใจค่ะ</span>
    </p>
        <p>
        <strong>หากยังไม่มีตั๋วทนายจะสามารถเข้าร่วม หรือสมัครใช้บริการได้หรือไม่?</strong>
        <br><span>ได้ค่ะ เพราะลูกความในหลายกรณีก็ใช้บริการทางกฎหมายที่ไม่ต้องถึงขั้นดำเนินการทางกฏหมายที่ต้องขึ้นกับศาลค่ะ</span>
    </p>

</div>