<div class="modal fade" id="tempBetaModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!--<h5 class="modal-title" class="text-brand-color">ขณะนี้เรากำลังอยู่ในช่วงเบต้า<br>We are now currently on Beta</h5>
        -->
        <h5 class="modal-title" class="text-brand-color">We are now currently on Beta</h5>
        
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>-->
      </div>
      <div class="modal-body">
        <!--<p>ขอบคุณที่เข้ามาเยี่ยมชมเวบไซต์ของเราค่ะ<p>
        <p>ขณะนี้เรากำลังอยู่ในช่วงเริ่มดำเนินการ และกำลังมองหาทนายที่ต้องการร่วมงานกับเราให้ได้ตามจำนวนที่เหมาะสมเพื่อประสบการณ์ที่ดีของทั้งทนายและลูกความ ก่อนที่จะดำเนินการหาลูกความอย่างเป็นทางการค่ะ</p>
        <p>ขอขอบคุณพระคุณเป็นอย่างสูงสำหรับการอนุเคราะห์และความเข้าใจค่ะ</p>
        <p>ทีมงาน ดีฟาสท์ลีกอล</p>
        <hr>-->
        <p>Thank you for visiting us ;)<p>
        <p>We are at the very early stage of the website, and now looking to parter with lawyers and reach a certain number of lawyers for optimised experiece of both lawyers and clients before acquiring more clients.</p>
        <p>Thank you again, for you patience and understanding.</p>
        <p>DFastLegal team.</p>
      </div>
      <div class="modal-footer">
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>