<div class="jumbotron jumbotron-fluid m-b-1 m-t-0">

    <!-- <div class="container text-xs-center">
        <h1 id="main-brand-text" class="display-3 hidden-xs-down">DFastLegal</h1>
        <p id="main-brand-lead" class="lead">{{txt.SEVEN_WORDS[lang]}}</p>
        
    </div> -->
    <div class="container">
        <div class=row>
            <div class="col-xs-12">
                <div class="col-xs-12 p-a-0 col-md-7 col-lg-5">
                    <h1 id="" class="landing-lg-text">DFastLegal</h1>
                    <h2 id="" class="landing-lg-text m-b-3">{{txt.SEVEN_WORDS[lang]}}</h2>
                </div>
                <div class="col-lg-7 hidden-sm-down" style="height:50px"></div>
                <div class="col-xs-12 p-a-0 col-md-5 col-lg-4 offset-lg-3" >
                    <button type="button" class="btn btn-block btn-lg call-to-action-btn" [routerLink]="['/', lang,'case-detail-form']">{{txt.FIND_LAWYER_NOW[lang]}}</button>

                </div>


            </div>

        </div>
    </div>

</div>

<div class="container">
    <!-- Info for clients and lawyers -->
    <!-- 
    <div class="row text-xs-center m-b-1">
        <span class=" p-r-1 hover-pointer main-text-button" data-target="#customers-carousel" data-slide-to="0" [class.selected]="clientSelected"
            (click)="clientSelected = true">{{txt.CLI_BTN[lang]}}</span>
        <span class="right-divider"></span>
        <span class="p-l-1 m-l-0 hover-pointer main-text-button" data-target="#customers-carousel" data-slide-to="1" [class.selected]="!clientSelected"
            (click)="clientSelected = false">{{txt.LAW_BTN[lang]}}</span>
    </div> -->

    <div id="customers-carousel" class="carousel">
        <!-- class="slide" for slide operation -->
        <div class="carousel-inner" role="listbox">
            <!-- client section -->
            <div class="carousel-item active">
                <!-- <div class="row m-b-0">

                    <div class="col-xs-10 offset-xs-1 p-b-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                        <a class="btn btn-primary btn-block" [routerLink]="['/', lang,'case-detail-form']">{{txt.CLI_ACTION[lang]}}</a>

                    </div>

                </div> -->

                <div class="col-md-4">

                    <div class="col-xs-5 col-md-12">
                        <img class="img-fluid" src="../../../img/corporate.png" />
                    </div>
                    <div class="col-xs-7 col-md-12">
                        <h3 class="main-page-header">{{txt.CLI_CNT_1_H[lang]}}</h3>
                    </div>
                    <div class="col-xs-12">
                        <p>{{txt.CLI_CNT_1[lang]}}</p>
                    </div>

                </div>
                <div class="col-md-4">

                    <div class="col-xs-5 col-md-12">
                        <img class="img-fluid" src="../../../img/solve-problem.png" />
                    </div>
                    <div class="col-xs-7 col-md-12">
                        <h3 class="main-page-header">{{txt.CLI_CNT_2_H[lang]}}</h3>
                    </div>
                    <div class="col-xs-12">
                        <p>{{txt.CLI_CNT_2[lang]}}</p>

                    </div>


                </div>
                <div class="col-md-4">

                    <div class="col-xs-5 col-md-12">
                        <img class="img-fluid" src="../../../img/on-budget.png" />
                    </div>
                    <div class="col-xs-7 col-md-12">
                        <h3 class="main-page-header">{{txt.CLI_CNT_3_H[lang]}}</h3>
                    </div>
                    <div class="col-xs-12">
                        <p>{{txt.CLI_CNT_3[lang]}}</p>

                    </div>

                </div>
                <!--<div class="row m-b-0">
                    <div class="col-xs-10 offset-xs-1 p-b-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                        <button class="btn btn-primary btn-block" [routerLink]="['/lawyers']">{{txt.CLI_BRW_LAWS[lang]}}</button>
                    </div>
                </div>-->


            </div>
            <!-- /client section -->
            <!-- lawyer section -->
            <!-- <div class="carousel-item">
                <div class="row m-b-0">
                    <div class="col-xs-10 offset-xs-1 p-b-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                        <a class="btn btn-primary btn-block" [routerLink]="['/',lang,'lawyer-signup']">{{txt.LAW_ACTION[lang]}}</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-xs-5 col-md-12">
                        <img class="img-circle img-fluid" src="../../../img/corporate.png" />
                    </div>
                    <div class="col-xs-7 col-md-12">
                        <h3 class="main-page-header">{{txt.LAW_CNT_1_H[lang]}}</h3>

                    </div>
                    <div class="col-xs-12">
                        <p>
                            {{txt.LAW_CNT_1[lang]}}
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-xs-5 col-md-12">
                        <img class="img-circle img-fluid" src="../../../img/solve-problem.png" />
                    </div>
                    <div class="col-xs-7 col-md-12">
                        <h3 class="main-page-header">{{txt.LAW_CNT_2_H[lang]}}</h3>

                    </div>
                    <div class="col-xs-12">
                        <p>
                            {{txt.LAW_CNT_2[lang]}}
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-xs-5 col-md-12">
                        <img class="img-circle img-fluid" src="../../../img/on-budget.png" />
                    </div>
                    <div class="col-xs-7 col-md-12">
                        <h3 class="main-page-header">{{txt.LAW_CNT_3_H[lang]}}</h3>

                    </div>
                    <div class="col-xs-12">
                        <p>
                            {{txt.LAW_CNT_3[lang]}}
                        </p>
                    </div>
                </div>

            </div> -->
            <!-- /lawyer section -->


        </div>

        <!-- /Info for clients and lawyers -->

        <!-- Translator section -->
        <!--<div class="row text-xs-center">
                <h4>Support Service</h4>
                <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
                    <p class="text-justify">
                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque est diam, hendrerit eu fermentum eget, rutrum nec metus. Maecenas dictum.
                    </p>
                </div>
                <div class="col-xs-10 col-xs-offset-1 p-b-1 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                    <button type="button" class="btn btn-info btn btn-block">สมัครเป็นล่าม</button>
                </div>
            </div>-->
        <!-- /Translator section -->

    </div>

    <hr>
    <div class="row">
        <div class="col-xs-12 col-md-8 offset-md-2">
            <button class="btn btn-outline-warning btn-block btn-lg m-b-1" [routerLink]="['/',lang,'lawyer-signup']">{{txt.LAW_ACTION[lang]}}</button>

            <h3 *ngIf="featuredLawyers.length > 0">{{txt.FEAT_LAWYERS[lang]}}</h3>

        </div>
    </div>

    <div id="featuredLawyerCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">

            <div *ngFor="let lawyer of featuredLawyers" class="carousel-item" [class.active]="checkFirstLawyer(lawyer)">
                <short-lawyer-profile [lawyerProfile]="lawyer" [lang]="lang" [withContact]="false"></short-lawyer-profile>
            </div>

        </div>
        <a *ngIf="featuredLawyers.length > 0" class="carousel-control-prev pull-left m-b-1" href="#featuredLawyerCarousel" role="button"
            data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true">
                <i class="fa fa-arrow-circle-o-left" aria-hidden="true" style="font-size:2rem"></i>
            </span>
            <span class="sr-only">Previous</span>
        </a>
        <a *ngIf="featuredLawyers.length > 0" class="carousel-control-next pull-right m-b-1" href="#featuredLawyerCarousel" role="button"
            data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true">
                <i class="fa fa-arrow-circle-o-right" aria-hidden="true" style="font-size:2rem"></i>
            </span>
            <span class="sr-only">Next</span>
        </a>
    </div>




</div>