﻿<div class="row m-t-1 " (click)="toCaseDetail(clientCase)">
    <div class="col-xs-12">
        <div class="card ctm-card">
            <div class="card-header hover-bg">{{txt.CASE_ID[lang]}}: #{{clientCase.id}} <span class="pull-xs-right">{{txt.CASE_STATUS[lang]}}: {{caseAcceptedLawyers}}/{{casePreferredLawyers}}</span></div>
            <div class="card-block">
                    <h5 class="card-text">{{txt.CASE_DETAIL[lang]}}:</h5>
                    <p class="card-text" style="max-height:4.5rem;overflow-y:auto">
                        {{getCaseDetail(clientCase)}}
                    </p>
                    <p class="card-text"><strong>{{txt.CASE_PROVINCES[lang]}}: </strong>{{getCaseProvinces(clientCase)}}</p>
                    <p class="card-text"><strong>{{txt.CASE_CREATED_AT[lang]}}: </strong>{{getCreatedAt(clientCase)}}</p>
            </div>
        </div>

    </div>
</div>