<div class="container body-container" *ngIf="!lawyerProfile">
    <div class="row m-t-2">
        <div class="col-xs-1 offset-xs-5">
            <div class="loader"></div>
        </div>
    </div>

</div>
<div class="container body-container" *ngIf="lawyerProfile">



    <div class="row">
        <div class="col-lg-8 offset-lg-2">

            <h3 class="m-t-1">{{txt.LAWYER_PROFILE[lang]}}</h3>

            <user-contact [user]="lawyer" [lang]="lang"></user-contact>

            <full-lawyer-profile [lawyerProfile]="lawyerProfile" [lang]="lang"></full-lawyer-profile>

        </div>
    </div>
    
    <!--<div class="row p-x-1 m-t-1">
        <div class="card col-lg-8 offset-lg-2">
            <div class="card-block row p-b-0">
                <p><small>{{txt.RATINGS[lang]}}:</small></p>
                <div class="row p-l-1">
                    <div class="col-xs-8 col-md-4 m-b-1">
                        <img class="img-fluid col-xs-2 p-x-0" src="../img/star_marked.svg" />
                        <img class="img-fluid col-xs-2 p-x-0" src="../img/star_marked.svg" />
                        <img class="img-fluid col-xs-2 p-x-0" src="../img/star_marked.svg" />
                        <img class="img-fluid col-xs-2 p-x-0" src="../img/star_marked.svg" />
                        <img class="img-fluid col-xs-2 p-x-0" src="../img/star_marked.svg" />
                    </div>
                    <p><small>from <em>23 reviews</em></small></p>
                </div>
                <ul class="list-group list-group-flush list-unstyled">
                    <li class="list-group-item p-b-2">
                        <blockquote class="blockquote">
                            <p class="m-b-0" style="font-size:12px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            <div class="col-xs-8 offset-xs-4 p-x-0 col-sm-4 offset-sm-8">
                                <img class="col-xs-2 p-x-0">
                                <img class="img-fluid col-xs-2 p-x-0" src="../img/star_marked.svg" />
                                <img class="img-fluid col-xs-2 p-x-0" src="../img/star_marked.svg" />
                                <img class="img-fluid col-xs-2 p-x-0" src="../img/star_marked.svg" />
                                <img class="img-fluid col-xs-2 p-x-0" src="../img/star_marked.svg" />
                                <img class="img-fluid col-xs-2 p-x-0" src="../img/star_marked.svg" />
                            </div>
                            <p class="blockquote-footer pull-xs-right" style="font-size:10px">Someone famous in <cite title="Source Title">Source Title</cite></p>

                        </blockquote>
                    </li>
                    <li class="list-group-item p-b-2">
                        <blockquote class="blockquote">
                            <p class="m-b-0" style="font-size:12px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            <div class="col-xs-8 offset-xs-4 p-x-0 col-sm-4 offset-sm-8">
                                <img class="col-xs-2 p-x-0">
                                <img class="img-fluid col-xs-2 p-x-0" src="../img/star_marked.svg" />
                                <img class="img-fluid col-xs-2 p-x-0" src="../img/star_marked.svg" />
                                <img class="img-fluid col-xs-2 p-x-0" src="../img/star_marked.svg" />
                                <img class="img-fluid col-xs-2 p-x-0" src="../img/star_marked.svg" />
                                <img class="img-fluid col-xs-2 p-x-0" src="../img/star_marked.svg" />
                            </div>
                            <p class="blockquote-footer pull-xs-right" style="font-size:10px">Someone famous in <cite title="Source Title">Source Title</cite></p>

                        </blockquote>
                    </li>
                    <li class="list-group-item p-b-2">
                        <blockquote class="blockquote">
                            <p class="m-b-0" style="font-size:12px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            <div class="col-xs-8 offset-xs-4 p-x-0 col-sm-4 offset-sm-8">
                                <img class="col-xs-2 p-x-0">
                                <img class="img-fluid col-xs-2 p-x-0" src="../img/star_marked.svg" />
                                <img class="img-fluid col-xs-2 p-x-0" src="../img/star_marked.svg" />
                                <img class="img-fluid col-xs-2 p-x-0" src="../img/star_marked.svg" />
                                <img class="img-fluid col-xs-2 p-x-0" src="../img/star_marked.svg" />
                                <img class="img-fluid col-xs-2 p-x-0" src="../img/star_marked.svg" />
                            </div>
                            <p class="blockquote-footer pull-xs-right" style="font-size:10px">Someone famous in <cite title="Source Title">Source Title</cite></p>

                        </blockquote>
                    </li>

                </ul>
            </div>
        </div>
    </div>-->
    
    <!-- /lawyer1 -->
    <!-- fill the gap for navbar fixed-top -->
    <div style="height:54px;width:100%" class="hidden-sm-up">

    </div>
    <!-- /fill the gap for navbar fixed-top -->
    <!-- fixed bottom bar for button-->
    <nav class="navbar navbar-fixed-bottom navbar-dark bg-inverse row hidden-sm-up">
        <div class="col-xs-12" role="group" aria-label="Basic example">
            <a class="btn btn-primary col-xs-3" (click)="goBack()">{{txt.BACK[lang]}}</a>
            <a class="btn btn-warning col-xs-8 offset-xs-1" href="tel:{{tel}}">{{txt.CALL_NOW[lang]}}</a>
        </div>

    </nav>
    <!-- /fixed bottom bar for button-->
</div>