﻿<div class="row m-t-1">
    <div class="col-xs-12">
        <div class="card ctm-card">
            <div class="card-block">
                <div class="col-xs-12 col-md-4">
                    <h5 class="text-brand-color">{{txt.CONTACTS[lang]}}</h5>
                </div>
                <div class="col-xs-12 col-md-4">
                    <label><i class="fa fa-phone ctm-grey-icon">&nbsp;</i>{{getTel(user)}}</label>

                </div>
                <div class="col-xs-12 col-md-4">
                    <label><i class="fa fa-envelope ctm-grey-icon">&nbsp;</i>{{getEmail(user)}}</label>

                </div>

            </div>
        </div>

    </div>
    

</div>