﻿<div class="container body-container" *ngIf="currentUser">


    <!--<div *ngIf="isLoading" class="row m-t-1">
        <div class="col-xs-1 offset-xs-5">
            <div class="loader"></div>
        </div>
    </div>-->
    <!-- Status -->
    <div class="row p-x-1 m-t-1" *ngIf="!isVerified">
        <div class="card col-lg-8 offset-lg-2 ">
            <div class="card-block">
                <div class=" row text-xs-center">
                    <h6 class="err">{{txt.WAIT_FOR_APPROVAL[lang]}}</h6>
                </div>
                <hr>
                <div class=" row">
                    <p>{{txt.APPROVE_EXP[lang]}}</p>
                    <ul>
                        <li>{{txt.APPROVE_QUAL[lang]}}: <small class="text-muted hover-pointer" (click)="toSpot('qualifications_header')">{{txt.HERE[lang]}}</small></li>
                        <li>{{txt.APPROVE_LICENSE[lang]}}: <small class="text-muted hover-pointer" (click)="toSpot('license_header')">{{txt.HERE[lang]}}</small></li>
                        <li>{{txt.APPROVE_PHONE_NUMBER[lang]}}</li>
                    </ul>
                    <small class="text-muted">{{txt.APPROVE_UPON_SUCCESS[lang]}}</small>
                </div>
            </div>

        </div>
    </div>
    <!-- /Status -->
    <!-- Service -->
    <div class="row p-x-1 m-t-1">
        <div class="card col-lg-8 offset-lg-2">
            <div class="card-block row">
                <h5 class="card-title text-brand-color">{{txt.YOUR_SERVICES[lang]}}</h5>
                <form>
                    <div class="checkbox">
                        <label>
                            <input name="MatchingCheckBox" [(ngModel)]="useMatchingService" type="checkbox">
                            {{txt.USE_MATCHING[lang]}}
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input name="ListingCheckBox" [(ngModel)]="useListingService" type="checkbox">
                            {{txt.USE_LISTING[lang]}}
                        </label>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <!-- /Service -->
    <!-- section header -->
    <div class="row m-t-1">
        <div class="col-lg-8 offset-lg-2">
            <h3>{{txt.PROFILE[lang]}}</h3>
        </div>
    </div>
    <!-- /section header -->
    <!-- Profile -->
    <div class="row p-x-1 m-t-1">
        <div class="card col-lg-8 offset-lg-2">
            <div class="card-block row p-t-1 p-b-0">
                <img (click)="togglePictureUpload()" class="img-circle img-fluid col-xs-8 offset-xs-2 col-sm-4 offset-sm-4" [src]="profileImageURL"
                    style="cursor:pointer" />

            </div>
            <div class="row p-y-1 m-t-1" style="background-color: lightgrey" *ngIf="isToggled">
                <div class="col-xs-12 col-sm-6 offset-sm-3">
                    <label class="">Change profile picture</label>

                    <div class="row">

                        <div class="col-xs-12">
                            <input type="file" accept="image/*" id="selectedProfilePicture" class="">
                        </div>
                        <div class="col-xs-12">
                            <button (click)="manualChangeProfilePic()" class="btn-sm btn-block m-t-1" [disabled]="isLoading">upload</button>

                        </div>
                    </div>

                </div>

            </div>



            <div class="row text-xs-center"><small class="text-muted">{{txt.CHANGE_PROFILE_PIC[lang]}}<br>*{{txt.CENTER_PROFILE_PIC[lang]}}</small></div>

            <div class="card-block row">
                <form>
                    <div class="form-group row">
                        <label for="" class="col-sm-3 form-control-label hidden-xs-down">{{txt.TITLE[lang]}}</label>
                        <div class="col-sm-9">
                            <select class="form-control" [(ngModel)]="title" name="title">
                                <option value="MR">{{txt.MR[lang]}}</option>
                                <option value="MRS">{{txt.MRS[lang]}}</option>
                                <option value="MS">{{txt.MS[lang]}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-3 form-control-label hidden-xs-down">{{txt.F_NAME['TH']}}</label>
                        <p class="hidden-sm-up col-xs-12 text-muted">ชื่อ-นามสกุล ภาษาไทย</p>
                        <div class="col-sm-9">

                            <input name="FirstnameTH" [(ngModel)]="firstnameTH" type="text" class="form-control" id="" placeholder="{{txt.F_NAME['TH']}}">

                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-3 form-control-label hidden-xs-down">{{txt.L_NAME['TH']}}</label>
                        <div class="col-sm-9">
                            <input name="LastnameTH" [(ngModel)]="lastnameTH" type="text" class="form-control" id="" placeholder="{{txt.L_NAME['TH']}}">

                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-3 form-control-label hidden-xs-down">{{txt.F_NAME['EN']}}</label>
                        <p class="hidden-sm-up col-xs-12 text-muted">First-Last name in English</p>
                        <div class="col-sm-9">

                            <input name="FirstnameEN" [(ngModel)]="firstnameEN" type="text" class="form-control" id="" placeholder="{{txt.F_NAME['EN']}}">


                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-3 form-control-label hidden-xs-down">{{txt.L_NAME['EN']}}</label>
                        <div class="col-sm-9">
                            <input name="LastnameEN" [(ngModel)]="lastnameEN" type="text" class="form-control" id="" placeholder="{{txt.L_NAME['EN']}}">

                        </div>
                    </div>
                    <h5 class="card-title text-brand-color">{{txt.CONTACT_INFO[lang]}}</h5>
                    <div class="form-group row">
                        <label for="contactEmail" class="col-sm-3 form-control-label hidden-xs-down">{{txt.EMAIL[lang]}}</label>
                        <div class="col-sm-9">
                            <input name="Email" [(ngModel)]="email" type="text" class="form-control" id="contactEmail" placeholder="{{txt.EMAIL[lang]}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="contactPhone" class="col-sm-3 form-control-label hidden-xs-down">{{txt.MOBILE[lang]}}</label>
                        <div class="col-sm-9">
                            <input name="PhoneNumber" [(ngModel)]="phoneNumber" type="text" class="form-control" id="contactPhone" placeholder="eg. 0891234567">
                        </div>
                    </div>

                </form>

            </div>


        </div>

    </div>
    <!--!Profile-->
    <!--Company profile-->

    <div class="row p-x-1 m-t-1">
        <div class="card col-lg-8 offset-lg-2">
            <div class="card-block row p-t-1 p-b-0">

                <h5 class="card-title text-brand-color" id="qualifications_header">{{txt.COMPANY[lang]}}</h5>
                <div class="checkbox">
                    <label>
                            <input name="IsCompanyCheckBox" [(ngModel)]="asCompany" type="checkbox">
                            {{txt.APPLY_AS_COMP[lang]}}
                        </label>
                </div>
                <hr>
                <img (click)="togglePictureUpload()" class="img-circle img-fluid col-xs-8 offset-xs-2 col-sm-4 offset-sm-4" [src]="profileImageURL"
                    style="cursor:pointer" />

            </div>
            <div class="row p-y-1 m-t-1" style="background-color: lightgrey" *ngIf="isToggled">
                <div class="col-xs-12 col-sm-6 offset-sm-3">
                    <label class="">Change profile picture</label>

                    <div class="row">

                        <div class="col-xs-12">
                            <input type="file" accept="image/*" id="selectedProfilePicture" class="">
                        </div>
                        <div class="col-xs-12">
                            <button (click)="manualChangeProfilePic()" class="btn-sm btn-block m-t-1" [disabled]="isLoading">upload</button>

                        </div>
                    </div>

                </div>

            </div>



            <div class="row text-xs-center"><small class="text-muted">{{txt.CHANGE_PROFILE_PIC[lang]}}<br>*{{txt.CENTER_PROFILE_PIC[lang]}}</small></div>

            <div class="card-block row">
                <form>

                    <div class="form-group row">
                        <label for="" class="col-sm-3 form-control-label hidden-xs-down">ชื่อบริษัท</label>
                        <p class="hidden-sm-up col-xs-12 text-muted">ชื่อบริษัท</p>
                        <div class="col-sm-9">

                            <input name="ConpanayNameTH" [(ngModel)]="companyNameTH" type="text" class="form-control" id="" placeholder="{{txt.COMP_NAME['TH']}}">

                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="" class="col-sm-3 form-control-label hidden-xs-down">Company name</label>
                        <p class="hidden-sm-up col-xs-12 text-muted">Company name</p>
                        <div class="col-sm-9">

                            <input name="CompanyNameEN" [(ngModel)]="companyNameEN" type="text" class="form-control" id="" placeholder="{{txt.COMP_NAME['EN']}}">


                        </div>
                    </div>

                    <div class="form-group row">
                        <p class="hidden-sm-up col-xs-12 text-muted">{{txt.COMP_ID[lang]}}</p>

                        <label for="contactPhone" class="col-sm-3 form-control-label hidden-xs-down">{{txt.COMP_ID[lang]}}</label>
                        <div class="col-sm-9">
                            <input name="CompanyID" [(ngModel)]="companyID" type="text" class="form-control" id="contactPhone" placeholder="{{txt.COMP_ID[lang]}}">
                        </div>
                    </div>
                    <h5 class="card-title text-brand-color m-b-0" id="license_header">{{txt.COMP_DOCS[lang]}}</h5>
                    <small class="text-muted">{{txt.DOCS_VERIFICATION_ONLY[lang]}}</small>
                    <form #addLawyerTicketForm="ngForm" *ngIf="!hasLawyerTicket">
                        <small>*{{txt.ADD_QUALIFICATION_WARN[lang]}}</small>

                        <div class="form-group row">
                            <label for="" class="col-sm-3 form-control-label hidden-xs-down">{{txt.LAWYER_TICKET_FILE[lang]}}</label>
                            <div class="col-sm-9">
                                <label class="file">
                                <input required name="File" type="file" id="LawyerTicketFile" accept=".pdf,image/*">
                            </label>
                                <small class="text-muted col-xs-12">*{{txt.FILE_LIMIT_SIZE[lang]}}</small>
                            </div>
                        </div>
                        <div class="row p-x-1">
                            <button class="btn btn-outline-warning btn-block" (click)="addLawyerTicket()" [disabled]="isLoading || !addLawyerTicketForm.form.valid">{{txt.ADD[lang]}}</button>
                        </div>
                    </form>

                    <div class="row" *ngIf="lawyerTicket && hasLawyerTicket">
                        <div class="col-xs-12">
                            <div class="row">
                                <p class="col-xs-10">Laywer ticket file: <a href="{{getTicketFileUrl(lawyerTicket)}}" target="_blank">{{getTicketFileName(lawyerTicket)}}</a></p>
                                <div class="col-xs-1">
                                    <button type="button" class="close pull-xs-right" aria-label="Close" (click)="deleteLawyerTicket(lawyerTicket)">
                                    <span aria-hidden="true">&times;</span>
                                </button>

                                </div>

                            </div>

                        </div>

                    </div>

                </form>

            </div>


        </div>

    </div>

    <!--!Company profile-->


    <!--Expertise-->
    <div class="row p-x-1 m-t-1">
        <div class="card col-lg-8 offset-lg-2">
            <div class="card-block row">
                <h5 class="card-title text-brand-color">{{txt.EXPERTISE[lang]}}:</h5>
                <div class="row">
                    <div class="col-md-4 col-xs-12 text-xs-center">
                        <!--<img class="img-fluid img-rounded" src="../img/square.svg" style="min-height:25px;max-height:150px" />-->
                        <div class="form-group m-t-1">
                            <select *ngIf="expertise1" name="Expertise1" class="form-control" [(ngModel)]="expertise1">
                                <option value="" disabled selected>First expertise</option>
                                <option *ngFor="let expertise of expertiseObjects" value="{{expertise.expValue}}">{{expertise.txt[lang]}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <!--<img class="img-fluid img-rounded" src="../img/square.svg" style="min-height:25px;max-height:150px" />-->
                        <div class="form-group m-t-1">
                            <select *ngIf="expertise2" name="Expertise2" class="form-control" [(ngModel)]="expertise2">
                                <option value="" disabled selected>Second expertise</option>
                                <option *ngFor="let expertise of expertiseObjects" value="{{expertise.expValue}}">{{expertise.txt[lang]}}</option>

                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <!--<img class="img-fluid img-rounded" src="../img/square.svg" style="min-height:25px;max-height:150px" />-->
                        <div class="form-group m-t-1">
                            <select *ngIf="expertise3" name="Expertise3" class="form-control" [(ngModel)]="expertise3">
                                <option value="" disabled selected>Third expertise</option>
                                <option *ngFor="let expertise of expertiseObjects" value="{{expertise.expValue}}">{{expertise.txt[lang]}}</option>

                            </select>
                        </div>
                    </div>


                </div>

            </div>
            <div class="card-block row p-t-0">
                <h5 class="card-title text-brand-color">{{txt.SHORT_DESC_H[lang]}}</h5>
                <small class="text-muted">{{txt.SHORT_DESC_HINT[lang]}}</small>
                <fieldset class="form-group">
                    <!--label for="exampleTextarea">Example textarea</label>-->
                    <!--<textarea *ngIf="lang == 'TH'" name="Experience" [(ngModel)]="shortDescTH" class="form-control" id="exampleTextarea" rows="10"
                        placeholder="ระบุประสบการณ์าของท่านที่นี่..."></textarea>
                        <textarea *ngIf="lang == 'EN'" name="Experience" [(ngModel)]="shortDescEN" class="form-control" id="exampleTextarea" rows="10"
                            placeholder="ระบุประสบการณ์าของท่านที่นี่..."></textarea>-->
                    <label class="text-muted">ภาษาไทย</label>
                    <textarea name="Experience" [(ngModel)]="shortDescTH" class="form-control" id="exampleTextarea" rows="10" placeholder="ระบุประสบการณ์แบบย่อของท่านที่นี่..."></textarea>
                    <label class="text-muted">English</label>
                    <textarea name="Experience" [(ngModel)]="shortDescEN" class="form-control" id="exampleTextarea" rows="10" placeholder="Your experience in short description here..."></textarea>

                </fieldset>
                <h5 class="card-title text-brand-color">{{txt.EXPERIENCE[lang]}}</h5>
                <fieldset class="form-group">
                    <!--label for="exampleTextarea">Example textarea</label>-->
                    <!--<textarea *ngIf="lang == 'TH'" name="Experience" [(ngModel)]="experienceTH" class="form-control" id="exampleTextarea" rows="10"
                        placeholder="ระบุประสบการณ์าของท่านที่นี่..."></textarea>
                        <textarea *ngIf="lang == 'EN'" name="Experience" [(ngModel)]="experienceEN" class="form-control" id="exampleTextarea" rows="10"
                            placeholder="ระบุประสบการณ์าของท่านที่นี่..."></textarea>-->
                    <label class="text-muted">ภาษาไทย</label>
                    <textarea name="Experience" [(ngModel)]="experienceTH" class="form-control" id="exampleTextarea" rows="10" placeholder="ระบุประสบการณ์ของท่านแบบละเอียดที่นี่"></textarea>
                    <label class="text-muted">English</label>
                    <textarea name="Experience" [(ngModel)]="experienceEN" class="form-control" id="exampleTextarea" rows="10" placeholder="Your experience in full detail here..."></textarea>

                </fieldset>
                <!--<div class="row p-x-1">
                    <a class="btn btn-outline-warning btn-block" (click)="updateExperience()">{{txt.SAVE[lang]}}</a>
                </div>-->
            </div>

        </div>

    </div>
    <!--!Expertise-->
    <!-- Qualification -->
    <div class="row p-x-1 m-t-1">
        <div class="card col-lg-8 offset-lg-2">
            <div class="card-block row">

                <h5 class="card-title text-brand-color m-b-0" id="qualifications_header">{{txt.QUALIFICATIONS[lang]}}</h5>
                <small class="text-muted">{{txt.DOCS_VERIFICATION_ONLY[lang]}}</small>
                <div class="row" *ngFor="let qualification of qualifications; let i = index">
                    <div class="card-text col-xs-10">
                        <p class="m-b-0">{{getDegree(qualification)}}: {{getStudyField(qualification)}}, {{getInstitute(qualification)}}</p>
                        <a href="{{getDocumentUrl(qualification)}}" target="_blank"><small>{{getDocumentName(qualification)}}</small></a>
                    </div>
                    <div class="col-xs-1">
                        <button type="button" class="close pull-xs-right" aria-label="Close" (click)="deleteQualification(qualification,i)">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!--<a class="col-xs-1 label label-pill label-danger" (click)="deleteQualification(qualification,i)">ลบ</a>-->

                </div>

            </div>
            <hr class="m-a-0" />
            <div class="card-block p-x-0">
                <form #addQualificationForm="ngForm">
                    <h5 class="card-title">{{txt.ADD_QUALIFICATION[lang]}}</h5>
                    <small>*{{txt.ADD_QUALIFICATION_WARN[lang]}}</small>
                    <div class="form-group row m-t-1">
                        <label for="" class="col-sm-3 form-control-label hidden-xs-down">{{txt.DEGREE_LEVEL[lang]}}</label>
                        <div class="col-sm-9">
                            <select name="AddDegree" class="form-control" [(ngModel)]="addedDegree">
                                <option *ngFor="let degree of DEGREE" value="{{degree.value}}">{{degree.txt[lang]}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-3 form-control-label hidden-xs-down">{{txt.INSTITUTE[lang]}}</label>
                        <div class="col-sm-9">
                            <input required name="AddInstitute" [(ngModel)]="addedInstitute" type="text" class="form-control" id="" placeholder="{{txt.INSTITUTE[lang]}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-3 form-control-label hidden-xs-down">{{txt.FIELD[lang]}}</label>
                        <div class="col-sm-9">
                            <input required name="StudyField" [(ngModel)]="addedStudyField" type="text" class="form-control" id="" placeholder="{{txt.FIELD[lang]}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-3 form-control-label hidden-xs-down">{{txt.EVIDENCE_FILE[lang]}}</label>
                        <div class="col-sm-9">
                            <label class="file">
                                <input required name="File" type="file" id="qualificationFile" accept=".pdf,image/*">
                            </label>
                            <small class="text-muted col-xs-12">*{{txt.FILE_LIMIT_SIZE[lang]}}</small>
                        </div>
                    </div>
                    <div class="row p-x-1">
                        <button class="btn btn-outline-warning btn-block" (click)="addQualification()" [disabled]="isLoading || !addQualificationForm.form.valid">{{txt.ADD[lang]}}</button>
                    </div>
                </form>
            </div>


            <!--<form>
                <div class="form-group row">
                    <label for="" class="col-sm-3 form-control-label hidden-xs-down">ระดับการศึกษา</label>
                    <div class="col-sm-9">

                    </div>
                </div>
            </form>-->
        </div>
    </div>
    <!-- /Qualification -->

    <!--Lawyer Ticket-->
    <div class="row p-x-1 m-t-1">
        <div class="card col-lg-8 offset-lg-2">
            <div class="card-block p-x-0">
                <h5 class="card-title text-brand-color m-b-0" id="license_header">{{txt.LAWYER_TICKET_H[lang]}}</h5>
                <small class="text-muted">{{txt.DOCS_VERIFICATION_ONLY[lang]}}</small>
                <small class="text-muted">{{txt.LAWYER_TICKET_EXP[lang]}}</small>
                <form #addLawyerTicketForm="ngForm" *ngIf="!hasLawyerTicket">
                    <small>*{{txt.ADD_QUALIFICATION_WARN[lang]}}</small>

                    <div class="form-group row">
                        <label for="" class="col-sm-3 form-control-label hidden-xs-down">{{txt.LAWYER_TICKET_FILE[lang]}}</label>
                        <div class="col-sm-9">
                            <label class="file">
                                <input required name="File" type="file" id="LawyerTicketFile" accept=".pdf,image/*">
                            </label>
                            <small class="text-muted col-xs-12">*{{txt.FILE_LIMIT_SIZE[lang]}}</small>
                        </div>
                    </div>
                    <div class="row p-x-1">
                        <button class="btn btn-outline-warning btn-block" (click)="addLawyerTicket()" [disabled]="isLoading || !addLawyerTicketForm.form.valid">{{txt.ADD[lang]}}</button>
                    </div>
                </form>

                <div class="row" *ngIf="lawyerTicket && hasLawyerTicket">
                    <div class="col-xs-12">
                        <div class="row">
                            <p class="col-xs-10">Laywer ticket file: <a href="{{getTicketFileUrl(lawyerTicket)}}" target="_blank">{{getTicketFileName(lawyerTicket)}}</a></p>
                            <div class="col-xs-1">
                                <button type="button" class="close pull-xs-right" aria-label="Close" (click)="deleteLawyerTicket(lawyerTicket)">
                                    <span aria-hidden="true">&times;</span>
                                </button>

                            </div>

                        </div>

                    </div>

                </div>
            </div>


        </div>
    </div>
    <!--/Lawyer Ticket-->

    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <button class="btn btn-outline-info btn-block m-b-1" (click)="resetUserPassword()" [disabled]="isLoading">{{txt.FORGOT_PW_SUBMIT[lang]}}</button>
        </div>
    </div>




    <!--<div class="row p-x-1 m-t-1">
        <div class="card col-lg-8 offset-lg-2">
            <div class="card-block row p-l-2 p-b-0">

                <form class="col-sm-8 offset-sm-2">
                    <h5 class="card-title">{{txt.CHANGE_PW[lang]}}</h5>
                    <button class="btn-block" (click)="sendPasswordChangeRequest()">Send password request</button>
                    <fieldset class="form-group">
                        <label class="sr-only" for="">{{txt.CURRENT_PW[lang]}}</label>
                        <input [(ngModel)]="currentPassword" name="CurrentPassword" type="password" class="form-control" id="" placeholder="{{txt.CURRENT_PW[lang]}}">
                        <div *ngIf="isPasswordNotMatch()">Password does not match.</div>
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="sr-only" for="">{{txt.NEW_PW[lang]}}</label>
                        <input name="NewPassword" type="password" class="form-control" id="" placeholder="{{txt.NEW_PW[lang]}}">
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="sr-only" for="">{{txt.CONFIRM_NEW_PW[lang]}}</label>
                        <input name="ConfirmNewPassword" type="password" class="form-control" id="" placeholder="{{txt.CONFIRM_NEW_PW[lang]}}">
                    </fieldset>
                    <div class="col-xs-12">
                        <button class="btn btn-outline-warning btn-block m-b-1">{{txt.CHANGE_PW[lang]}}</button>
                    </div>
                </form>
            </div>

        </div>

    </div>-->
    <!--<button class="pos-f-t" *ngIf="isProfileChange() && !isLoading" (click)="saveProfile()" style="top:unset;left:unset;bottom:10px;right:10px">

    Some save button</button>-->
    <img src="../../../img/save-button.svg" class="pos-f-t" style="top:unset;left:unset;top:75px;right:10px; width:60px; height:60px; cursor:pointer"
        *ngIf="isProfileChange() && !isLoading" (click)="saveProfile()" />
    <div class="pos-f-t" style="top:unset;left:unset;top:75px;right:10px" *ngIf="isLoading">
        <div class="loader">
        </div>
    </div>
</div>