﻿<div class="container body-container">

    <div class="row p-x-1 m-t-1">

        <div class="col-lg-8 offset-lg-2">

            <h3>{{txt.PAYMENT_HEADER[lang]}}</h3>
            <div class="card m-t-1 ctm-card" (click)="toggleModal('#selectCardModal')">
                <div class="card-block text-center">
                    <p class="text-xs-center" [hidden]="selectedCard"><strong>{{txt.SELECT_CARD[lang]}}</strong></p>
                    <full-card-detail *ngIf="selectedCard" [card]="selectedCard" [lang]="lang"></full-card-detail>
                </div>
            </div>
            <div class="card m-t-1 ctm-card" (click)="toggleModal('#selectAddressModal')">
                <div class="card-block text-center">
                    <p class="text-xs-center" [hidden]="selectedAddress"><strong>{{txt.SELECT_ADDRESS[lang]}}</strong></p>
                    <!--<p class="text-xs-center" *ngIf="selectedAddress">{{getAddressObj(selectedAddress).name}}</p>-->
                    <full-address *ngIf="selectedAddress" [address]="getAddressObj(selectedAddress)" [lang]="lang"></full-address>
                </div>
            </div>
        </div>
    </div>

    <!--button for large screen-->
    <div class="row p-x-1">
        <div class="col-lg-8 offset-lg-2">
            <div class="col-sm-4 col-xs-2">
                <button class="btn btn-primary btn-block hidden-xs-down m-b-1" (click)="goBack()" [disabled]="isLoading">{{txt.BACK[lang]}}</button>
            </div>

            <div class="col-sm-8 col-xs-2">
                <button class="btn btn-warning btn-block hidden-xs-down m-b-1" (click)="toConfirmPage()" [disabled]="isLoading">{{txt.PROCEED_TO_CHECKOUT[lang]}}</button>
            </div>
        </div>
    </div>
    <!--/button for large screen-->
    <!--button for mobile-->
    <nav class="navbar navbar-fixed-bottom navbar-dark bg-inverse row hidden-sm-up">
        <div class="col-xs-12" role="group" aria-label="Basic example">
            <button class="btn btn-primary col-xs-3" (click)="goBack()" [disabled]="isLoading">{{txt.BACK[lang]}}</button>
            <button class="btn btn-warning col-xs-8 offset-xs-1" (click)="toConfirmPage()" [disabled]="isLoading">{{txt.PROCEED_TO_CHECKOUT[lang]}}</button>
        </div>
    </nav>
    <!--/button for mobile-->
</div>

<!--select card modal-->
<div class="modal fade" id="selectCardModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title text-brand-color">{{txt.SELECT_CARD[lang]}}</h4>
            </div>
            <div class="modal-body">

                <div class="col-xs-12" *ngIf="cardLoading">
                    <div class="col-xs-1 offset-xs-5">
                        <div class="loader"></div>
                    </div>
                </div>

                <p class="text-xs-center text-muted" *ngIf="userCards.length == 0 && !cardLoading">{{txt.EMPTY_CARD[lang]}}</p>
                <h5 class="text-brand-color" *ngIf="userCards.length > 0">{{txt.CARD_MODAL_H[lang]}}</h5>
                <div class="row modal-hover" *ngFor="let card of userCards; let i = index" style="margin-top:5px">
                    <div class="col-xs-3">
                        <img class="img-fluid card-img-top" [src]="getCardLogoUrl(card)"/>
                    </div>
                    <div class="col-xs-7" (click)="selectCard(card)">
                        <p class="m-a-0">
                            {{card.name}}
                        </p>
                        <p class="m-a-0">
                            **** **** **** {{card.last_digits}}
                        </p>
                        
                    </div>
                    <div class="col-xs-2">
                        <button type="button" class="close" aria-label="Close" (click)="deleteCard(card,i)">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    
                    
                </div>
            </div>
            <hr class="m-y-0 m-x-1" />
            <div class="card-block">
                <h5 class="text-brand-color">{{txt.ADD_CARD[lang]}}</h5>
                <form>
                    <div class="form-group row">
                        <label for="" class="col-sm-3 form-control-label hidden-xs-down">{{txt.CARD_NUMBER[lang]}}</label>
                        <div class="col-sm-9">
                            <input type="text" name="CardNumber" [(ngModel)]="inputCard.number" class="form-control" id="" placeholder="{{txt.CARD_NUMBER[lang]}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-3 form-control-label hidden-xs-down">{{txt.CARD_HOLDER_NAME[lang]}}</label>
                        <div class="col-sm-9">
                            <input type="text" name="CardName" [(ngModel)]="inputCard.name" class="form-control" id="" placeholder="{{txt.CARD_HOLDER_NAME[lang]}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-3 form-control-label hidden-xs-down">{{txt.EXPIRATION_DATE[lang]}}</label>
                        <div class="col-xs-6 col-sm-3">
                            <select class="form-control" name="ExpireMonth" [(ngModel)]="inputCard.expiration_month">
                                <option value="" disabled selected>mm</option>
                                <option value="1">01</option>
                                <option value="2">02</option>
                                <option value="3">03</option>
                                <option value="4">04</option>
                                <option value="5">05</option>
                                <option value="6">06</option>
                                <option value="7">07</option>
                                <option value="8">08</option>
                                <option value="9">08</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <select class="form-control" name="ExpireYear" [(ngModel)]="inputCard.expiration_year">
                                <option value="" disabled selected>yyyy</option>
                                <option value="2017">2017</option>
                                <option value="2018">2018</option>
                                <option value="2019">2019</option>
                                <option value="2020">2020</option>
                                <option value="2021">2021</option>
                                <option value="2022">2022</option>
                                <option value="2023">2023</option>
                                <option value="2024">2024</option>
                                <option value="2025">2025</option>
                                <option value="2026">2026</option>

                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label hidden-xs-down">{{txt.SCV[lang]}}</label>
                        <div class="col-sm-9">
                            <input type="text" name="SecurityCode" [(ngModel)]="inputCard.security_code" class="form-control" id="" placeholder="{{txt.SCV[lang]}}">
                        </div>
                    </div>
                    <button class="btn-outline-primary btn-block" (click)="addCard()">{{txt.ADD_CARD[lang]}}</button>
                </form>
                <div class="col-xs-12" *ngIf="isLoading">
                    <div class="col-xs-1 pull-right">
                        <div class="loader"></div>
                    </div>
                </div>
                <p class="err-msg text-xs-right">{{addCardError}}</p>
            </div>
        </div>
    </div>
</div>
<!--/select card modal-->
<!--select address modal-->
<div class="modal fade" id="selectAddressModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title text-brand-color">{{txt.SELECT_ADDRESS[lang]}}</h4>
            </div>
            <div class="modal-body">

                <div class="col-xs-12" *ngIf="addressLoading">
                    <div class="col-xs-1 offset-xs-5">
                        <div class="loader"></div>
                    </div>
                </div>

                <p class="text-xs-center text-muted" *ngIf="billingAddresses.length == 0 && !addressLoading">{{txt.EMPTY_ADDRESS[lang]}}</p>
                <h5 class="text-brand-color" *ngIf="billingAddresses.length > 0">{{txt.ADDRESS_MODAL_H[lang]}}</h5>
                <div class="row modal-hover" *ngFor="let address of billingAddresses ; let i = index">
                    <div class="col-xs-10" (click)="selectAddress(address)">
                        <p class="m-b-0"><strong>{{getAddressObj(address).name}}</strong></p>
                        <p>{{getAddressObj(address).address1}} {{getAddressObj(address).address2}} {{getAddressObj(address).district}} {{getAddressObj(address).province}} {{getAddressObj(address).country}} {{getAddressObj(address).postCode}}</p>
                        
                    </div>
                    <!--<div class="col-xs-11">{{addressObj.name}} {{addressObj.address1}}</div>-->
                    <div class="col-xs-2">
                        <button type="button" class="close pull-xs-right" aria-label="Close" (click)="deleteAddress(address,i)">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>

            </div>
            <hr class="m-y-0 m-x-1" />

            <div class="card-block">
                <h5 class="text-brand-color">{{txt.ADD_ADDRESS[lang]}}</h5>

                <form>
                    <div class="form-group row">
                        <label for="" class="col-sm-3 form-control-label hidden-xs-down">{{txt.BILLING_NAME[lang]}}</label>
                        <div class="col-sm-9">
                            <input name="BillingName" type="text" [(ngModel)]="inputAddress.name" class="form-control form-control-sm" id="" placeholder="{{txt.BILLING_NAME[lang]}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-3 form-control-label hidden-xs-down">{{txt.ADDRESS1[lang]}}</label>
                        <div class="col-sm-9">
                            <input name="Address1" type="text" [(ngModel)]="inputAddress.address1" class="form-control form-control-sm" id="" placeholder="{{txt.ADDRESS1[lang]}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-3 form-control-label hidden-xs-down">{{txt.ADDRESS2[lang]}}</label>
                        <div class="col-sm-9">
                            <input name="Address2" [(ngModel)]="inputAddress.address2" type="text" class="form-control form-control-sm" id="" placeholder="{{txt.ADDRESS2[lang]}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-3 form-control-label hidden-xs-down">{{txt.PROVINCE[lang]}}</label>
                        <div class="col-sm-9">
                            <input name="Province" [(ngModel)]="inputAddress.province" type="text" class="form-control form-control-sm" id="" placeholder="{{txt.PROVINCE[lang]}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-3 form-control-label hidden-xs-down">{{txt.DISTRICT[lang]}}</label>
                        <div class="col-sm-9">
                            <input name="District" [(ngModel)]="inputAddress.district" type="text" class="form-control form-control-sm" id="" placeholder="{{txt.DISTRICT[lang]}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-3 form-control-label hidden-xs-down">{{txt.COUNTRY[lang]}}</label>
                        <div class="col-sm-9">
                            <input name="Country" [(ngModel)]="inputAddress.country" type="text" class="form-control form-control-sm" id="" placeholder="{{txt.COUNTRY[lang]}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-3 form-control-label hidden-xs-down">{{txt.POST_CODE[lang]}}</label>
                        <div class="col-sm-9">
                            <input name="PoseCode" [(ngModel)]="inputAddress.postCode" type="text" class="form-control form-control-sm" id="" placeholder="{{txt.POST_CODE[lang]}}">
                        </div>
                    </div>
                    <button class="btn-outline-primary btn-block" (click)="addAddress()" [disabled]="isLoading">{{txt.ADD_ADDRESS[lang]}}</button>

                </form>
                <div class="col-xs-12" *ngIf="isLoading">
                    <div class="col-xs-1 pull-right">
                        <div class="loader"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/select address modal-->