﻿<div class="container body-container">
    <h3 class="p-t-1 m-t-0">{{txt.YOUR_CASE[lang]}}</h3>
    <div class="row" *ngIf="isLoading">
        <div class="col-xs-1 offset-xs-5">
            <div class="loader"></div>
        </div>
    </div>

    <div class="row" *ngIf="allClientCase.length == 0 && !isLoading">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-block">
                    <p>{{txt.NO_CLIENT_CASE[lang]}}</p>
                    <button class="btn-primary btn-block" [routerLink]="['/',lang,'questions']">{{txt.CREATE_CLIENT_CASE[lang]}}</button>
                </div>
            </div>
        </div>
    </div>

    <short-case-detail *ngFor="let clientCase of allClientCase" [clientCase]="clientCase" [lang]="lang"></short-case-detail>


</div>
