<!-- Footer -->
<nav class="navbar">
    <div class="container">
        <div class="row custom-footer">
            <div class="col-xs-6 col-md-3">
                <ul class="nav">
                    {{txt.HELP_SUPPORT[lang]}}
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/',lang,'help-and-support','PRIVACY_POLICY']">{{txt.PRIVACY_POLICY[lang]}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/',lang,'help-and-support','TERM_OF_USE']">{{txt.TERM_OF_USE[lang]}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/',lang,'help-and-support','PURCHASE_OF_ORDER']">{{txt.PURCHASE_OF_ORDER[lang]}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="mailto:support@dfastlegal.com">{{txt.EMAIL[lang]}}: support@dfastlegal.com</a>
                    </li>

                </ul>
            </div>
            <div class="col-xs-6 col-md-3">
                <ul class="nav">
                    {{txt.ABOUT_US[lang]}}
                    <li class="nav-item">
                        <a class="nav-link" href="">{{txt.VISION[lang]}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">{{txt.TEAM[lang]}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">{{txt.JOIN_US[lang]}}</a>
                    </li>

                </ul>

            </div>
            <!--<div class="col-xs-6 col-md-3">
                    <ul class="nav">
                        Zone3
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Another link</a>
                        </li>

                    </ul>

                </div>-->
            <div class="col-xs-12 hidden-md-up">
                <hr style="border-color:white" />

            </div>

            <div class="col-xs-12 col-md-5 offset-md-1 text-xs-center text-md-right">
                <ul class="nav">
                    www.dfastlegal.com
                    <!--<li class="nav-item">
                            <a class="nav-link">&copy;{{txt.CREDIT1[lang]}} &amp;</a>
                        </li>
                       
                        <li class="nav-item">
                            <a class="nav-link">&copy;{{txt.CREDIT2[lang]}}</a>
                        </li>-->
                    <li class="nav-item">
                        <a class="nav-link" href="mailto:support@dfastlegal.com">support@dfastlegal.com</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link">{{txt.COMP_ADDRESS_LINE1[lang]}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">{{txt.COMP_ADDRESS_LINE2[lang]}}</a>
                    </li>

                </ul>

            </div>
        </div>

    </div>

</nav>
<!-- /Footer -->