﻿<div class="container body-container">

    <!-- description -->
    <div class="row p-x-1 m-t-0">
        <div class="col-lg-8 offset-lg-2">
            <div class="card m-t-1">

                <div class="card-block">

                    <h5 class="card-title">{{txt.INQ_THANK_H[lang]}}</h5>
                    <p class="card-text">{{txt.INQ_THANK[lang]}}</p>
                    
                    <a class="btn btn-outline-info btn-block" [routerLink]="['/']">{{txt.INQ_THANK_BTN[lang]}}</a>
                   

                </div>

            </div>
        </div>
    </div>

</div>
