﻿<div class="card ctm-card">
    <div class="card-header">
        <h5 class="text-brand-color">{{txt.SHOPPING_CART[lang]}}</h5>
    </div>
    <div class="card-block">
        <p><strong>{{txt.CONTACT_FEE[lang]}}:</strong><span class="pull-right" style="font:bold;font-size:1.4rem; color:red;">&#3647;{{getContactFee(lawyerResponse)}}</span></p>
    </div>
</div>