﻿<div class="container body-container">
    <h3 class="m-t-1">{{txt.DETAIL[lang]}}</h3>
    <div class="row" *ngIf="selectedClientCase">
        <div class="col-lg-8 offset-lg-2">
            <full-case-detail [clientCase]="selectedClientCase" [lang]="lang" [isForClient]="true"></full-case-detail>

        </div>
    </div>

    <!-- /description -->
    <div class="row p-x-1" *ngIf="selectedClientCase">
        <div class="col-lg-8 offset-lg-2">
            <div class="col-sm-4 col-xs-2">
                <button class="btn btn-warning btn-block btn-sm hidden-xs-down m-b-1" (click)="goBack()" [disabled]="isLoading">{{txt.BACK[lang]}}</button>
            </div>
            <div class="text-xs-center text-muted col-xs-8 col-sm-4">
                <h5>{{txt.SELECTED_LAWYERS[lang]}}</h5>
            </div>
            <div class="col-sm-4 col-xs-2">
                <!--<button class="btn btn-warning btn-block btn-sm hidden-xs-down m-b-1" (click)="confirmCase()" [disabled]="isLoading">ยืนยัน</button>-->
            </div>

        </div>
    </div>

    <!-- lawyers -->
    <div class="row col-lg-8 offset-lg-2" *ngIf="selectedLawyerProfiles.length > 3">
        <pagination-controls class="center-block" (pageChange)="p = $event"></pagination-controls>

    </div>


    <short-lawyer-profile *ngFor="let profile of selectedLawyerProfiles | paginate: { itemsPerPage: 3, currentPage: p }" [lawyerProfile]="profile" [lang]="lang" [withContact]="false"></short-lawyer-profile>



    <div class="row col-lg-8 offset-lg-2" *ngIf="selectedLawyerProfiles.length > 3">
        <pagination-controls class="center-block" (pageChange)="p = $event"></pagination-controls>

    </div>
    <!-- /lawyers -->

    <!-- more -->
    <!--<div class="row">
        <div class="m-b-1 col-xs-12 col-md-8 col-md-offset-2 p-x-3">
            <a class="btn btn-info-outline btn-block">ค้นหาเพิ่ม</a>
        </div>
    </div>-->
    <!-- /more -->
    <!-- fill the gap for navbar fixed-top -->
    <!--<div style="height:54px;width:100%" class="hidden-sm-up">

    </div>-->
    <!-- /fill the gap for navbar fixed-top -->
    <!-- fixed bottom bar for button-->
    <nav class="navbar navbar-fixed-bottom navbar-dark bg-inverse row hidden-sm-up">
        <div class="col-xs-12" role="group" aria-label="Basic example">
            <button class="btn btn-warning col-xs-3" (click)="goBack()" [disabled]="isLoading">{{txt.BACK[lang]}}</button>
            <!--<button class="btn btn-success col-xs-8 offset-xs-1" (click)="confirmCase()" [disabled]="isLoading">ยืนยัน</button>-->
        </div>

    </nav>
    <!-- /fixed bottom bar for button-->
    <!-- fixed bottom bar for button-->
    <!--<nav class="navbar navbar-fixed-bottom navbar-dark bg-inverse row hidden-xs-down">
        <div class="col-xs-12" role="group" aria-label="Basic example">
            <a class="btn btn-warning col-xs-2" href="lawyers.html">ย้อนกลับ</a>
            <a class="btn btn-success col-xs-2 col-xs-offset-8" href="">เลือกเสร็จแล้ว</a>
        </div>

    </nav>-->
    <!-- /fixed bottom bar for button-->
</div>
