﻿<div class="row">
    <div class="col-xs-12">
        <h5 class="text-brand-color">{{txt.BILLING_ADDRESS[lang]}}</h5>
        <p><strong>{{address.name}}</strong></p>
        <p class="m-b-0">{{address.address1}}</p>
        <p class="m-b-0">{{address.address2}}</p>
        <p class="m-b-0">{{address.district}} {{address.province}}</p>
        <p class="m-b-0">{{address.country}} {{address.postCode}}</p>

    </div>


</div>