<div class="container body-container">

    <!-- description -->
    <div class="row p-x-1 m-t-0">
        <div class="col-lg-8 offset-lg-2">
          <h3>Unsubscribed</h3>
            <div class="card m-t-1">

                <div class="card-block">

                    <h5 class="card-title">You have unsubscibed from the list.</h5>
                    <p class="card-text">You will not further receive the previous message from us.</p>
                    
                    <a class="btn btn-outline-info btn-block" [routerLink]="['/en']">Back to main page</a>
                   

                </div>

            </div>
        </div>
    </div>

</div>
