﻿<div class="container body-container">

    <h3 class="m-t-1">{{txt.YOUR_CASE[lang]}}</h3>
    <div class="row" *ngIf="isLoading">
        <div class="col-xs-1 offset-xs-5">
            <div class="loader"></div>
        </div>
    </div>
    <!-- description -->
    <div class="row m-t-1" *ngIf="allLawyerResponse && allLawyerResponse.length == 0 && !isLoading">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title text-brand-color text-xs-center">{{txt.NO_REQUESTED_H[lang]}}</h4>
                    <p class="card-text">{{txt.NO_REQUESTED[lang]}}</p>
                    <p>{{txt.THANK_YOU[lang]}}</p>
                </div>
            </div>
        </div>
        
    </div>

    <div class="row p-x-1 m-t-0" *ngIf="pendingResponse.length > 0">
        <h5 class="text-brand-color">{{txt.PENDING_CASE[lang]}}</h5>
        <short-case-detail *ngFor="let lawyerResponse of pendingResponse; let i = index" 
                           [clientCase]="getClientCase(lawyerResponse)" 
                           [lang]="lang"
                           [isForLawyer]="true"
                           [lawyerResponseId]="lawyerResponse.id">

        </short-case-detail>
    </div>

    <div class="row p-x-1 m-t-0" *ngIf="acceptedResponse.length > 0">
        <h5 class="text-brand-color">{{txt.ACCEPTED_CASE[lang]}}</h5>
        <short-case-detail *ngFor="let lawyerResponse of acceptedResponse; let i = index" 
                           [clientCase]="getClientCase(lawyerResponse)" 
                           [lang]="lang"
                           [isForLawyer]="true"
                           [lawyerResponseId]="lawyerResponse.id">

        </short-case-detail>
    </div>

    <div class="row p-x-1 m-t-0" *ngIf="declinedResponse.length > 0">
        <h5 class="text-brand-color">{{txt.DECLINED_CASE[lang]}}</h5>
        <short-case-detail *ngFor="let lawyerResponse of declinedResponse; let i = index" 
                           [clientCase]="getClientCase(lawyerResponse)" 
                           [lang]="lang"
                           [isForLawyer]="true"
                           [lawyerResponseId]="lawyerResponse.id">

        </short-case-detail>
    </div>

    <div class="row p-x-1 m-t-0" *ngIf="tooLateResponse.length > 0">
        <h5 class="text-brand-color">Unreachable cases</h5>
        <short-case-detail *ngFor="let lawyerResponse of tooLateResponse; let i = index"
                           [clientCase]="getClientCase(lawyerResponse)"
                           [lang]="lang"
                           [isForLawyer]="true"
                           [lawyerResponseId]="lawyerResponse.id">

        </short-case-detail>
    </div>

</div>
