﻿<div class="container body-container">

    <div class="row p-x-1 m-t-1">
        <div class="col-lg-8 offset-lg-2">
            <h3>{{txt.ORDER_CONFIRMATION[lang]}}</h3>
            <client-profile *ngIf="client" [client]="client" [lang]="lang"></client-profile>
            <full-case-detail *ngIf="case" [clientCase]="case" [lang]="lang" [hideStatus]="true"></full-case-detail>
            <contact-fee *ngIf="lawyerResponse" [lawyerResponse]="lawyerResponse" [lang]="lang"></contact-fee>
            <div class="row">
                <div class="col-xs-12">
                    <div class="card ctm-card">
                        <div class="card-block">
                            <full-card-detail *ngIf="selectedCard" [card]="selectedCard" [lang]="lang"></full-card-detail>


                        </div>

                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="card ctm-card">
                        <div class="card-block">
                            <full-address *ngIf="selectedAddress" [address]="getAddressObj(selectedAddress)" [lang]="lang"></full-address>

                        </div>

                    </div>
                </div>

            </div>

            <div class="row m-y-1">
                <div class="col-xs-12">
                    <p class="text-xs-center">
                        <input type="checkbox" [(ngModel)]="hasAcceptedToTerm" /> {{txt.AGREED_TO[lang]}}
                        <a href="https://www.dfastlegal.com/help-and-support;active=TERM_OF_USE" target="_blank">{{txt.TERM_N_CONDS[lang]}}</a>
                        <br />
                        <span class="err-msg" *ngIf="errorMsg">*{{errorMsg}}</span>
                    </p>
                </div>
                <div class="loader" *ngIf="isLoading">                
            </div>

        </div>
    </div>

    <!-- /description -->
    <div class="row p-x-1">
        <div class="col-lg-8 offset-lg-2">
            <div class="col-sm-4 col-xs-2">
                <button class="btn btn-primary btn-block hidden-xs-down m-b-1" (click)="goBack()" [disabled]="isLoading">{{txt.BACK[lang]}}</button>
            </div>
            <div class="col-sm-8 col-xs-2">
                <button class="btn btn-warning btn-block hidden-xs-down m-b-1" (click)="pay()" [disabled]="isLoading">{{txt.PAY[lang]}}</button>
            </div>

        </div>
    </div>

    <nav class="navbar navbar-fixed-bottom navbar-dark bg-inverse row hidden-sm-up">
        <div class="col-xs-12" role="group" aria-label="Basic example">
            <button class="btn btn-primary col-xs-3" (click)="goBack()" [disabled]="isLoading">{{txt.BACK[lang]}}</button>
            <button class="btn btn-warning col-xs-8 offset-xs-1" (click)="pay()" [disabled]="isLoading">{{txt.PAY[lang]}}</button>
        </div>

    </nav>

</div>
