﻿<div class="row">
    <div class="col-xs-12">
        <div class="card ctm-normal-box-shadow m-t-1">
            <div class="card-header"><h4 class="text-brand-color">{{txt.CLIENT_PROFILE[lang]}}</h4></div>
            <div class="card-block p-b-0">
                <div class="col-xs-4 p-x-0 col-md-3">
                    <img class="img-fluid img-circle m-b-1" src="../img/empty-profile.jpg" *ngIf="!getProfileImage(client)" />
                    <img class="img-fluid img-circle m-b-1" [src]="getProfileImage(client)" *ngIf="getProfileImage(client)" />
                </div>
                <div class="col-xs-8 col-md-9">
                    <h5 class="media-heading text-brand-color">{{getFullName(client)}}</h5>
                    <p>Personal ID: {{getPersonalID(client)}}</p>
                </div>
            </div>
            
        </div>
    </div>

</div>

