.dropdown-menu {
    width: 300px;

}

.lang-dropdown{
    width: 150px;
}

#header-logo {
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
}

.header-menu {
    color: white;
}

.header-menu:hover {
    color: white;
    font-weight: 700;
}

.header-menu:visited{
    color: white;
    font-weight: 700;

}

.call-to-action-btn{
    background-color:#D8A252;
    color:white;
    
}

.body-container {
    /*set min height for content area so footer does not awkwardly follw the content, must be set accordingly to height of header and footer*/
    min-height: 78vh;
}

.client-case-container:hover {
    background-color: lightgrey;
}

.main-text-button{
    font-size:1.3rem;
}

.loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #335570; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.navbar {
    background-color: #335578;
}

.navbar-toggler {
    color: white;
}

.jumbotron {
    /* background-image: url(../img/jumbotron-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    background-color:#335578
}


#main-brand-lead {
    color: white;
    text-shadow: 1px 1px #000000;
    font-weight: 500;
}

.landing-lg-text{
    font-size: 5 rem;
    text-shadow: 1px 1px #000000;
    font-weight: 500;
    color:white;
}

.vertical-center-button{
    margin-top:8px;

}

#main-brand-text {
    font-weight: 500;
    color: #335578;
    text-shadow: 3px 3px #ffffff;
}

.btn-primary {
    background-color: #335578;
}


.main-page-header {
    color: #335578;
    font-weight: 400;
}

.right-divider {
    border-right: 2px solid #335578;
}

.custom-footer ul {
    color: white;
    font-weight: 600;
}

    .custom-footer ul li a {
        color: white;
        font-weight: normal;
    }

#logged-in-dropdown .btn {
    border-color: white;
}

.white-border{
    border-color:white;
}

.lang-selector {
    color: white;
    background-color: #335578;
    border-color: white;
}

.ctm-grey-icon {
    color: #646464;
}

.ctm-grey-bg {
    background-color: #F2F2F2;
}

.ctm-card {
    box-shadow: 2px 2px 2px 2px grey;
}

    .ctm-card .card-header {
        color: #335578;
        background-color: white;
        font-weight: 500;
        font-size: 1.1rem;
    }

h3 {
    color: #335578;
    text-shadow: 1px 1px 1px lightgrey;
}

.ctm-main-border {
    background-color: white;
    /*border:1px solid #335578;*/
    border-radius: 3px;
    box-shadow: 2px 2px 2px 2px grey;
}

.ctm-white-bg {
    background-color: white;
}

.hover-bg:hover {
    background-color: lightgray;
}

.ctm-normal-box-shadow {
    box-shadow: 2px 2px 2px 2px grey;
}

.ctm-light-box-shadow {
    box-shadow: 1px 1px 1px 1px grey;
}

.text-brand-color {
    color: #335578;
}

.question-header {
    background-color: #335578;
    color: white;
    font-weight: 500;
}

.ctm-question-button-w {
    width: 100px;
}

.err-msg {
    color: indianred;
    font-size: 0.8rem;
    font-weight: 600;
}

.err{
    color: indianred;
    font-weight: 600;
    font-size: 1.2rem;
}

.ctm-card-header {
    background-color: #335578;
    color: white;
    font-weight: 500;
}

.modal-hover:hover {
    background-color: lightgray;
}

.hover-pointer{

    cursor:pointer;
    
}

.hover-pointer:hover{

    text-decoration: underline;

}


/* loader */
/**
 * Create the loop delay with
 * the extra keyframes
 */
 @-webkit-keyframes moveup {
    0%, 60%, 100% {
      -webkit-transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(0);
              transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(0);
    }
    25% {
      -webkit-transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(1em);
              transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(1em);
    }
  }
  @keyframes moveup {
    0%, 60%, 100% {
      -webkit-transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(0);
              transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(0);
    }
    25% {
      -webkit-transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(1em);
              transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(1em);
    }
  }
  @-webkit-keyframes movedown {
    0%, 60%, 100% {
      -webkit-transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(0);
              transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(0);
    }
    25% {
      -webkit-transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(-1em);
              transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(-1em);
    }
  }
  @keyframes movedown {
    0%, 60%, 100% {
      -webkit-transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(0);
              transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(0);
    }
    25% {
      -webkit-transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(-1em);
              transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(-1em);
    }
  }
  /**
   * Square layer styles
   */
  .layer {
    display: block;
    position: absolute;
    height: 3em;
    width: 3em;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg);
            transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg);
  }
  .layer:nth-of-type(1) {
    background: #534a47;
    margin-top: 1.5em;
    -webkit-animation: movedown 1.8s cubic-bezier(0.39, 0.575, 0.565, 1) 0.9s infinite normal;
            animation: movedown 1.8s cubic-bezier(0.39, 0.575, 0.565, 1) 0.9s infinite normal;
  }
  .layer:nth-of-type(1):before {
    content: '';
    position: absolute;
    width: 85%;
    height: 85%;
    background: #37332f;
  }
  .layer:nth-of-type(2) {
    background: #5a96bc;
    margin-top: 0.75em;
  }
  .layer:nth-of-type(3) {
    background: rgba(255, 255, 255, 0.6);
    -webkit-animation: moveup 1.8s cubic-bezier(0.39, 0.575, 0.565, 1) infinite normal;
            animation: moveup 1.8s cubic-bezier(0.39, 0.575, 0.565, 1) infinite normal;
  }
  
  /* Stage and link styles */
 .loader-background {
    width:100vw;
    height: 100vh;
    background-color: #335578;
  }
  
  .loader-container {

    position: absolute;
    top: 45%;
    left: 45%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
/*loader*/