﻿<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <div class="card ctm-normal-box-shadow">
            <div class="card-block p-b-0">
                <div class="col-xs-4 p-x-0 col-md-3">
                    <img class="img-fluid img-circle m-b-1" src="../img/empty-profile.jpg" *ngIf="!getProfileImage(lawyerProfile)" />
                    <img class="img-fluid img-circle m-b-1" [src]="getProfileImage(lawyerProfile)" *ngIf="getProfileImage(lawyerProfile)" />
                </div>
                <div class="col-xs-8 col-md-9">
                    <h5 class="media-heading text-brand-color">{{txt.LAWYER[lang]}}: {{getFullName(lawyerProfile)}}</h5>
                    <label >{{txt.EXPERTISE[lang]}}:</label>
                    <ul >
                        <li>{{getExpertise(lawyerProfile,1)}}</li>
                        <li>{{getExpertise(lawyerProfile,2)}}</li>
                        <li>{{getExpertise(lawyerProfile,3)}}</li>
                    </ul>


                    <!--<div class="row">

                    <div class="col-xs-3 p-x-0 offset-xs-1 col-md-2 offset-md-1">
                        <img class="img-fluid img-rounded" src="../img/square.svg" style="min-height:25px" />
                        <p>{{getExpertise(lawyerProfile,1)}}</p>
                    </div>
                    <div class="col-xs-3 p-x-0 offset-xs-1 col-md-2 offset-md-1">
                        <img class="img-fluid img-rounded" src="../img/square.svg" style="min-height:25px" />
                        <p>{{getExpertise(lawyerProfile,2)}}</p>
                    </div>
                    <div class="col-xs-3 p-x-0 offset-xs-1 col-md-2 offset-md-1">
                        <img class="img-fluid img-rounded" src="../img/square.svg" style="min-height:25px" />
                        <p >{{getExpertise(lawyerProfile,3)}}</p>
                    </div>

                </div>-->
                </div>
            </div>
            <div class="card-block m-t-0 p-t-0">
                    <div class="col-xs-12">
                        <p class="card-text m-b-1" *ngIf="getShortDesc(lawyerProfile)" style="font-style:italic">&rsquo;{{getShortDesc(lawyerProfile)}}&rsquo;</p>

                    </div>
                <div class="col-xs-7" [hidden]="hideLink">
                    <button class="btn btn-block" *ngIf="forSelection" (click)="toggleSelectedProfile(lawyerProfile)" [class.selected]="isInSelectedList(lawyerProfile)">{{txt.SELECT[lang]}}</button>
                </div>
                    <div class="col-xs-5" [hidden]="hideLink">
                        <button (click)="seeProfile(lawyerProfile)" class="btn btn-outline-info btn-block">{{txt.PROFILE[lang]}}</button>
                    </div>

                <!--<p class="card-text"><small>!!!!!{{txt.RATINGS[lang]}}:</small></p>-->
                <!--<div class="row p-l-1">
                    <div class="col-xs-8 col-md-4">
                        <img class="img-fluid col-xs-2 p-x-0" src="../img/star_marked.svg" />
                        <img class="img-fluid col-xs-2 p-x-0" src="../img/star_marked.svg" />
                        <img class="img-fluid col-xs-2 p-x-0" src="../img/star_marked.svg" />
                        <img class="img-fluid col-xs-2 p-x-0" src="../img/star_marked.svg" />
                        <img class="img-fluid col-xs-2 p-x-0" src="../img/star_marked.svg" />
                    </div>


                </div>-->
            </div>
        </div>
    </div>

</div>

