﻿<div class="container body-container">
    <h3 class="m-t-1">{{txt.PROFILE[lang]}}</h3>
    <full-lawyer-profile *ngIf="lawyerProfile" [lawyerProfile]="lawyerProfile" [lang]="lang"></full-lawyer-profile>

    <div class="row p-x-1">
        <div class="col-lg-8 offset-lg-2">
            <div class="col-sm-4 col-xs-2">
                <button class="btn btn-primary btn-block hidden-xs-down m-b-1" (click)="goBack()">{{txt.BACK[lang]}}</button>
            </div>
            <div class="text-xs-center text-muted col-xs-8 col-sm-4">
                <!--<h5>รายชื่อทนาย</h5>-->
            </div>
            <div class="col-sm-4 col-xs-2">
                <button class="btn btn-warning btn-block hidden-xs-down m-b-1" (click)="selectLawyer()">{{txt.SELECT[lang]}}</button>
            </div>
            <div class="row" *ngIf="isLoading">
                <div class="col-xs-1 offset-xs-5">
                    <div class="loader"></div>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="row row p-x-1 m-t-1">
        <div class="card col-lg-8 offset-lg-2">
            <div class="card-block row">
                <p>{{txt.CONTACTS[lang]}}</p>
                <p>{{txt.MOBILE[lang]}}: {{tel}}</p>
                <p>{{txt.EMAIL[lang]}}: {{email}}</p>
            </div>
        </div>
    </div>-->

    <!-- fill the gap for navbar fixed-top -->
    <div style="height:54px;width:100%" class="hidden-sm-up">

    </div>
    <!-- /fill the gap for navbar fixed-top -->
    <!-- fixed bottom bar for button-->
    <nav class="navbar navbar-fixed-bottom navbar-dark bg-inverse row hidden-sm-up">
        <div class="col-xs-12" role="group" aria-label="Basic example">
            <a class="btn btn-primary col-xs-3" (click)="goBack()">{{txt.BACK[lang]}}</a>
            <!--<a class="btn btn-success col-xs-8 offset-xs-1" href="tel:{{tel}}">{{txt.CALL_NOW[lang]}}</a>-->
            <button class="btn btn-warning col-xs-8 offset-xs-1" (click)="selectLawyer()">{{txt.SELECT[lang]}}</button>

        </div>

    </nav>
    <!-- /fixed bottom bar for button-->
</div>