﻿<div class="container body-container">

    <!-- progress bar -->
    <div class="row p-a-0 m-t-0">
        <div class="col-lg-8 offset-lg-2 p-a-0">
            <img class="center-block pull-md-left" [src]="getProgressImage()" style="width:360px" />
        </div>
    </div>

    <!-- /progress bar -->
    
    <div class="col-lg-8 offset-lg-2 p-a-0">
        <h3>{{txt.CONFIRM_CASE[lang]}}</h3>
        <full-case-detail *ngIf="currentClientCase" 
                          [clientCase]="currentClientCase" 
                          [lang]="lang"
                          [hideStatus]="true"
                          [isForClient]="true"
                          >

        </full-case-detail>

    </div>
    <div class="row p-x-1">
        <div class="col-lg-8 offset-lg-2">
            <div class="row hidden-xs-down m-b-1">
                
                    <button class="btn btn-block btn-danger" [disabled]="isLoading" *ngIf="!verificationSent" (click)="sendVerificationCode(currentUser,currentClientCase)">{{txt.SEND_VERIFY_CODE[lang]}}</button>
                    <div class="row" *ngIf="verificationSent">
                        <div class="col-xs-12">
                            <a [routerLink]="['/client-profile-edit']"><small>{{txt.NO_SMS[lang]}}</small></a>
                            <a (click)="toggleVerificationSent()" class="pull-right" style="cursor:pointer"><small>{{txt.SEND_AGAIN[lang]}}</small></a>
                            <input type="text" [(ngModel)]="verifyCodeInput" class="form-control" placeholder="{{txt.VERIFICATION_CODE[lang]}}" />

                        </div>

                    </div>
                
            </div>
            <div class="row">
                <div class="col-sm-4 col-xs-2">
                    <button class="btn btn-primary btn-block btn-sm hidden-xs-down m-b-1" (click)="goBack()" [disabled]="isLoading">{{txt.BACK[lang]}}</button>
                </div>
                <div class="text-xs-center text-muted col-xs-8 col-sm-4">
                    <h5>{{txt.SELECTED_LAWYERS[lang]}}</h5>
                </div>
                <div class="col-sm-4 col-xs-2">
                    <button class="btn btn-warning btn-block btn-sm hidden-xs-down m-b-1" (click)="confirmCase()" [disabled]="isLoading">{{txt.CONFIRM[lang]}}</button>
                </div>

            </div>
            
        </div>
    </div>

    <!-- lawyers -->
    <div class="row col-lg-8 offset-lg-2" *ngIf="selectedLawyerProfiles.length > 3">
        <pagination-controls class="center-block" (pageChange)="p = $event"></pagination-controls>

    </div>
    <short-lawyer-profile *ngFor="let profile of selectedLawyerProfiles | paginate: { itemsPerPage: 3, currentPage: p }"
                          [lawyerProfile]="profile"
                          [lang]="lang"
                          [hideLink]="true"></short-lawyer-profile>
    <!--<div class="row p-x-1" *ngFor="let profile of selectedLawyerProfiles | paginate: { itemsPerPage: 3, currentPage: p }">
        <div class="col-lg-8 offset-lg-2">
            <div class="card ">
                <div class="card-block row">
                    <div class="col-xs-4 p-r-0 col-md-3">
                        <img class="img-fluid img-circle" src="../img/empty-profile.jpg" *ngIf="!getProfileImage(profile)" />
                        <img class="img-fluid img-circle" [src]="getProfileImage(profile)" *ngIf="getProfileImage(profile)" />
                    </div>
                    <div class="col-xs-8 col-md-9">
                        <h5 class="media-heading">ทนาย: {{getLawyerName(profile)}}</h5>
                        <p class="m-b-1">ความถนัด:</p>
                        <div class="row">
                            <p>{{getExpertise(profile,1)}}</p>
                            <p>{{getExpertise(profile,2)}}</p>
                            <p>{{getExpertise(profile,3)}}</p>
                            
                        </div>
                    </div>
                </div>
                <div class="card-block row m-t-0">
                    <p class="card-text m-l-1" *ngIf="getShortDesc(profile)" style="font-style:italic">&rsquo;{{getShortDesc(profile)}}&rsquo;</p>

                </div>

            </div>
        </div>

    </div>-->

    <div class="row col-lg-8 offset-lg-2" *ngIf="selectedLawyerProfiles.length > 3">
        <pagination-controls class="center-block" (pageChange)="p = $event"></pagination-controls>

    </div>
    <!-- /lawyers -->

    <!-- more -->
    <!--<div class="row">
        <div class="m-b-1 col-xs-12 col-md-8 col-md-offset-2 p-x-3">
            <a class="btn btn-info-outline btn-block">ค้นหาเพิ่ม</a>
        </div>
    </div>-->
    <!-- /more -->
    <!-- fill the gap for navbar fixed-top -->
    <!--<div style="height:54px;width:100%" class="hidden-sm-up">

    </div>-->
    <!-- /fill the gap for navbar fixed-top -->
    <!-- fixed bottom bar for button-->
    <nav class="navbar navbar-fixed-bottom navbar-dark bg-inverse row hidden-sm-up">
        <div class="col-xs-12" role="group" aria-label="Basic example">
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-block btn-danger" [disabled]="isLoading" *ngIf="!verificationSent" (click)="sendVerificationCode(currentUser,currentClientCase)">{{txt.SEND_VERIFY_CODE[lang]}}</button>
                    <div class="row" *ngIf="verificationSent">
                        <div class="col-xs-12">
                            <a [routerLink]="['/',lang,'client-profile-edit']"><small>{{txt.NO_SMS[lang]}}</small></a>
                            <a (click)="toggleVerificationSent()" class="pull-right" style="cursor:pointer"><small>{{txt.SEND_AGAIN[lang]}}</small></a>
                            <input type="text" [(ngModel)]="verifyCodeInput" class="form-control" placeholder="{{txt.VERIFICATION_CODE[lang]}}" />

                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="row m-t-1">
                <div class="col-xs-12">
                    <button class="btn btn-primary col-xs-3" (click)="goBack()" [disabled]="isLoading">{{txt.BACK[lang]}}</button>
                    <button class="btn btn-warning col-xs-8 offset-xs-1" (click)="confirmCase()" [disabled]="isLoading">{{txt.CONFIRM[lang]}}</button>

                </div>
            </div>
        </div>

    </nav>
    <!-- /fixed bottom bar for button-->
    <!-- fixed bottom bar for button-->
    <!--<nav class="navbar navbar-fixed-bottom navbar-dark bg-inverse row hidden-xs-down">
        <div class="col-xs-12" role="group" aria-label="Basic example">
            <a class="btn btn-warning col-xs-2" href="lawyers.html">ย้อนกลับ</a>
            <a class="btn btn-success col-xs-2 col-xs-offset-8" href="">เลือกเสร็จแล้ว</a>
        </div>

    </nav>-->
    <!-- /fixed bottom bar for button-->
</div>
