﻿<!-- fill the gap for navbar fixed-top -->
<div style="height:56px;width:100%">
</div>

<!-- Navbar -->

<nav class="navbar navbar-fixed-top p-x-0">
    <div class="container">

        <!--<a class="hidden-sm-down navbar-brand" id="header-logo" [routerLink]="['']">dFastLegal</a>-->
        <img src="../../../img/dfastlegal-logo.svg" class="hidden-sm-down navbar-brand m-r-0" [routerLink]="['/',lang]" style="height:40px"
        />
        <a class="hidden-sm-down navbar-brand" id="header-logo" [routerLink]="['/',lang]">DFastLegal</a>

        <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#headerNavBar">
            &#9776;
        </button>

        <img src="../../../img/dfastlegal-logo.svg" class="hidden-md-up m-r-0" [routerLink]="['/',lang]" style="height:40px" />

        <!--<a class="hidden-md-up" id="header-logo" [routerLink]="['']">dFastLegal</a>-->

        <!--<button type="button " class="btn btn-primary-outline pull-xs-right m-r-0 ">Login</button>-->

        <!-- change-lang -->
        <div id="change-lang-dropdown" class="btn-group pull-xs-right m-l-1 hidden-sm-down ">
            <button class="btn btn-outline-info dropdown-toggle btn-sm vertical-center-button white-border" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" style="color:white">
                {{lang.toUpperCase()}}
            </button>

            <div class="dropdown-menu lang-dropdown dropdown-menu-right text-xs-center">
                <a class="dropdown-item" (click)="changeLang('th')">ไทย</a>
                <a class="dropdown-item" (click)="changeLang('en')">Eng</a>
            </div>

        </div>
        <!-- /change-lang -->

        <!-- login button -->
        <div id="loginDropdown" class="btn-group pull-xs-right" *ngIf="!currentUser">

            <button type="button" class="btn btn-secondary dropdown-toggle container btn-sm vertical-center-button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {{txt.LOGIN[lang]}}
            </button>


            <div class="dropdown-menu dropdown-menu-right">
                <form class="p-a-1 m-b-0">
                    <fieldset class="form-group">
                        <i class="fa fa-envelope ctm-grey-icon">&nbsp;</i>
                        <label for="loginEmail">{{txt.EMAIL[lang]}}</label>
                        <input name="LogInEmail" [(ngModel)]="logInEmail" type="email" class="form-control" id="loginEmail" placeholder="{{txt.EMAIL[lang]}}">
                        <!--<small class="text-muted ">We'll never share your email with anyone else.</small>-->
                    </fieldset>
                    <fieldset class="form-group">
                        <i class="fa fa-lock ctm-grey-icon">&nbsp;</i>
                        <label for="loginPassword">{{txt.PW[lang]}}</label>
                        <input name="LogInPassword" [(ngModel)]="logInPassword" type="password" class="form-control" id="loginPassword" placeholder="{{txt.PW[lang]}}">
                    </fieldset>
                    <button class="btn btn-primary btn-block" (click)="logIn()">
                        {{txt.LOGIN[lang]}}
                    </button>
                    <div class="dropdown-divider"></div>
                    <div class="text-xs-center">
                        <small class="text-muted">{{txt.FOR_CLIENT[lang]}}</small>
                        <button class="btn btn-warning btn-block" data-toggle="modal" data-target="#signUpModal">{{txt.CLIENT_SIGNUP[lang]}}</button>
                    </div>
                    <div class="text-xs-center">
                        <small class="text-muted">{{txt.FOR_LAWYER[lang]}}</small>
                        <button class="btn btn-outline-warning btn-block" [routerLink]="['/',lang,'lawyer-signup']">{{txt.LAWYER_SIGNUP[lang]}}</button>
                    </div>
                    <div *ngIf="errorMsg" class="err-msg">{{errorMsg}}</div>
                </form>
                <small [routerLink]="['/',lang,'forgot-password']" class="pull-right p-x-1 text-muted" style="cursor:pointer">Forgot password?</small>
            </div>
            <!-- <div class="pull-xs-right m-r-0 m-l-1 hidden-sm-down">
                <select class="form-control lang-selector btn-sm" [(ngModel)]="lang" (ngModelChange)="changeLang(lang)">
                    <option value="th">ไทย</option>
                    <option value="en">Eng</option>
                </select>
            </div> -->


        </div>

        <!--/login button-->
        <!-- logged in button -->
        <div id="logged-in-dropdown" class="btn-group pull-xs-right" *ngIf="currentUser">
            <button class="btn btn-outline-info dropdown-toggle btn-sm vertical-center-button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" style="color:white">
                <span *ngIf="isLawyer(currentUser)">{{txt.LAWYER[lang]}}:</span> {{getFirstName(currentUser)}}
            </button>

            <div class="dropdown-menu dropdown-menu-right text-xs-center">
                <!-- button for clients -->
                <a *ngIf="!isLawyer(currentUser)" class="dropdown-item" [routerLink]="['/',lang,'client-profile-edit']">{{txt.PROFILE[lang]}}</a>
                <a *ngIf="!isLawyer(currentUser)" class="dropdown-item" [routerLink]="['/',lang,'client-cases']">{{txt.YOUR_CASE[lang]}}</a>
                <!-- button for lawyers -->
                <a *ngIf="isLawyer(currentUser)" class="dropdown-item" [routerLink]="['/',lang,'lawyer-profile-edit']">{{txt.PROFILE[lang]}}</a>
                <a *ngIf="isLawyer(currentUser)" class="dropdown-item" [routerLink]="['/',lang,'lawyer-case']">{{txt.YOUR_CASE[lang]}}</a>

                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logOut()">{{txt.LOG_OUT[lang]}}</a>
            </div>
            <!-- <div class="pull-xs-right m-r-0 m-l-1 hidden-sm-down">
                <select class="form-control lang-selector btn btn-sm"[(ngModel)]="lang" (ngModelChange)="changeLang(lang)">
                    <option value="th">ไทย</option>
                    <option value="en">Eng</option>
                </select>
            </div> -->
        </div>

        <div *ngIf="isLoading" class="loader pull-xs-right" style="margin:10px 5px 0px 0px"></div>

        <!-- /logged in Button -->



        <div class="collapse navbar-toggleable-sm" id="headerNavBar">

            <ul class="nav navbar-nav col-md-6 offset-md-1">

                <!--<li class="nav-item active col-md-2 col-xs-12x m-x-0 ">
                    <a class="nav-link " href="# ">home <span class="sr-only ">(current)</span></a>
                </li>-->
                <li class="nav-item col-md-3 col-xs-12 m-x-0 text-md-right">
                    <a class="m-x-0 nav-link header-menu hidden-sm-down" href="https://medium.com/dfastlegal" target="_blank">Blog</a>

                    <a class="m-x-0 nav-link header-menu hidden-md-up" href="https://medium.com/dfastlegal" target="_blank">Blog</a>
                </li>
                <li class="nav-item col-md-3 col-xs-12 m-x-0 text-md-right">
                    <a class="m-x-0 nav-link header-menu hidden-sm-down" [routerLink]="['/',lang,'services']">Services</a>

                    <a class="m-x-0 nav-link header-menu hidden-md-up" data-toggle="collapse" data-target="#headerNavBar" (click)="toServices()"
                        href="/">Services</a>
                </li>
                <li class="nav-item col-md-3 col-xs-12 m-x-0 text-md-right">
                    <a class="m-x-0 nav-link header-menu hidden-sm-down" [routerLink]="['/',lang,'pricing']">Pricing</a>

                    <a class="m-x-0 nav-link header-menu hidden-md-up" data-toggle="collapse" data-target="#headerNavBar" (click)="toPricing()"
                        href="/">Pricing</a>
                </li>
                <li class="nav-item col-md-3 col-xs-12 m-x-0 text-md-right">
                    <a class="m-x-0 nav-link header-menu hidden-sm-down" [routerLink]="['/',lang,'faqs']">FAQS</a>

                    <a class="m-x-0 nav-link header-menu hidden-md-up" data-toggle="collapse" data-target="#headerNavBar" (click)="toFAQS()"
                        href="/">FAQS</a>
                </li>
                <li class="nav-item col-md-3 col-xs-12 m-x-0 hidden-md-up">
                    <label style="color:white">
                        <strong>{{txt.LANGUAGE[lang]}}:</strong>
                    </label>
                    <span (click)="changeLang('th')" [class.active]="activeLang('th')" class="lang" data-toggle="collapse" data-target="#headerNavBar">ไทย</span>
                    <span (click)="changeLang('en')" [class.active]="activeLang('en')" class="lang" data-toggle="collapse" data-target="#headerNavBar">En</span>

                </li>

            </ul>
        </div>

    </div>

</nav>
<!--<div class="row clearfix">
    <div class="container">
<div class="alert alert-warning alert-dismissible" role="alert">
  <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
  <strong>Warning!</strong> Still on beta stage.
</div>


    </div>
</div>-->
<!-- /Navbar -->